<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Redox HTML Template">

  <title>Redox - Creative Agency and Portfolio HTML Template</title>

  <!-- Fav Icon -->
  <link rel="icon" type="image/x-icon" href="assets/imgs/logo/favicon.png">

  <!-- Vendor CSS Files -->
  <link rel="stylesheet" href="assets/vendor/bootstrap.min.css">
  <link rel="stylesheet" href="assets/vendor/fontawesome.min.css">
  <link rel="stylesheet" href="assets/vendor/swiper-bundle.min.css">
  <link rel="stylesheet" href="assets/vendor/meanmenu.min.css">
  <link rel="stylesheet" href="assets/vendor/magnific-popup.css">
  <link rel="stylesheet" href="assets/vendor/animate.min.css">

  <!-- Template Main CSS File -->
  <link rel="stylesheet" href="assets/css/style.css">

</head>

<body class="body-wrapper dark body-marketing-agency font-heading-sequelsans-romanbody">

  <!-- Preloader -->
  <div id="preloader">
    <div id="container" class="container-preloader">
      <div class="animation-preloader">
        <div class="spinner"></div>

      </div>
      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
    </div>
  </div>

  <!-- Sroll to top -->
  <div class="progress-wrap">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
      <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"></path>
    </svg>
  </div>

  <!-- side toggle start -->
  <aside class="fix">
    <div class="side-info">
      <div class="side-info-content">
        <div class="offset-widget offset-header">
          <div class="offset-logo">
            <a href="index.html">
              <img src="assets/imgs/logo/logo-2-light.png" alt="site logo">
            </a>
          </div>
          <button id="side-info-close" class="side-info-close">
            <i class="fas fa-times"></i>
          </button>
        </div>
        <div class="mobile-menu d-xl-none fix"></div>
        <div class="offset-button">
          <a href="contact.html" class="rr-btn">
            <span class="btn-wrap">
              <span class="text-one">Let's Talk</span>
              <span class="text-two">Let's Talk</span>
            </span>
          </a>
        </div>
        <div class="offset-widget-box">
          <h2 class="title">Contact US</h2>
          <div class="contact-meta">
            <div class="contact-item">
              <span class="icon"><i class="fa-solid fa-location-dot"></i></span>
              <span class="text">3891 Ranchview Dr. Richardson</span>
            </div>
            <div class="contact-item">
              <span class="icon"><i class="fa-solid fa-envelope"></i></span>
              <span class="text"><a href="mailto:hello@redoxagency.com">hello@redoxagency.com</a></span>
            </div>
            <div class="contact-item">
              <span class="icon"><i class="fa-solid fa-phone"></i></span>
              <span class="text"><a href="tel:(505)555-0125">(505) 555-0125</a></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </aside>
  <div class="offcanvas-overlay"></div>
  <!-- side toggle end -->

  <!-- Header area start -->
  <header class="header-area-3">
    <div class="header-main">
      <div class="container large">
        <div class="header-area-3__inner">
          <div class="header__logo">
            <a href="index.html">
              <img src="assets/imgs/logo/logo-2-light.png" class="normal-logo" alt="Site Logo">
            </a>
          </div>
          <div class="header__nav">
            <nav class="menu d-none d-xl-block">
              <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About Us</a></li>
                <li><a href="services.html">Service</a></li>
                <li><a href="portfolio.html">Portfolio</a></li>
                <li><a href="contact.html">Contact</a></li>
              </ul>
            </nav>
          </div>
          <div class="header__navicon d-xl-none">
            <button class="side-toggle"><img src="assets/imgs/icon/icon-2.webp" alt="image"></button>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- Header area end -->

  <nav class="main-menu d-none">
    <ul>
      <li class="menu-item-has-children">
        <a href="#">Home</a>
        <ul class="dp-menu col-2">
          <li><a href="digital-agency.html">Digital Agency</a></li>
          <li><a href="creative-agency.html">Creative Agency</a></li>
          <li><a href="marketing-agency.html">Marketing Agency</a></li>
          <li><a href="design-agency.html">Design Agency</a></li>
          <li><a href="startup-agency.html">Startup Agency</a></li>
          <li><a href="modern-agency.html">Modern Agency</a></li>
          <li><a href="agency-portfolio.html">Agency Portfolio</a></li>
          <li><a href="portfolio-horizontal.html">Portfolio Horizontal</a></li>
          <li><a href="portfolio-line-effect.html">Portfolio Line Effect</a></li>
          <li><a href="portfolio-box-effect.html">Portfolio Box Effect</a></li>
          <li><a href="portfolio-vertical.html">Portfolio Vertical</a></li>
          <li><a href="portfolio-slicer.html">Portfolio Slicer</a></li>
          <li><a href="parallax-carousal.html">Parallax Carousal</a></li>
          <li><a href="portfolio-showcase.html">Portfolio Showcase</a></li>
        </ul>
      </li>
      <li><a href="about.html">About Us</a></li>
      <li class="menu-item-has-children">
        <a href="#">Service</a>
        <ul class="dp-menu">
          <li><a href="services.html">Core Services</a></li>
          <li><a href="services-2.html">Services ST. Pulse</a></li>
          <li><a href="services-3.html">Services ST. Morph</a></li>
          <li><a href="services-4.html">Services ST. Nova</a></li>
          <li><a href="services-5.html">Services ST. Zenith</a></li>
          <li><a href="services-6.html">Services ST. Prism</a></li>
          <li><a href="service-details.html">Service Details</a></li>
        </ul>
      </li>
      <li class="menu-item-has-children">
        <a href="#">Blog</a>
        <ul class="dp-menu">
          <li><a href="blog.html">Blog</a></li>
          <li><a href="blog-details.html">Blog Details</a></li>
        </ul>
      </li>
      <li class="menu-item-has-children">
        <a href="#">Pages</a>
        <ul class="dp-menu">
          <li><a href="portfolio.html">Core Portfolio</a></li>
          <li><a href="portfolio-2.html">Portfolio ST. Classic</a></li>
          <li><a href="portfolio-3.html">Portfolio ST. Minimal</a></li>
          <li><a href="portfolio-4.html">Portfolio ST. Modern</a></li>
          <li><a href="portfolio-5.html">Portfolio ST. Interactive</a></li>
          <li><a href="portfolio-6.html">Portfolio ST. Metro</a></li>
          <li><a href="portfolio-details.html">Portfolio Details</a></li>
          <li><a href="team.html">Team</a></li>
          <li><a href="team-details.html">Team Details</a></li>
          <li><a href="faq.html">FAQ Page</a></li>
          <li><a href="404.html">404 Page</a></li>
        </ul>
      </li>
      <li><a href="contact.html">Contact</a></li>
    </ul>
  </nav>

  <div class="has-smooth" id="has_smooth"></div>
  <div id="smooth-wrapper">
    <div id="smooth-content">

      <main>

        <!-- hero area start  -->
        <section class="hero-area-3">
          <div class="container large">
            <div class="hero-area-3-inner">
              <div class="section-header">
                <div class="section-title-wrapper">
                  <div class="subtitle-wrapper">
                    <span class="section-subtitle">Award winning marketing
                      agency — 1994®</span>
                  </div>
                  <div class="title-wrapper">
                    <h1 class="section-title font-sequelsans-romanbody fade-anim" data-delay="0.45">Ai—driven marketing
                      <img class="title-shape-1" src="assets/imgs/shape/shape-10.webp" alt="image">agency, based in
                      <span class="text-underline hover-image-wrpper" data-label="activewear">Jordan <img
                          class="image-hover" src="assets/imgs/gallery/image-10.webp" alt="activewear"
                          data-image="activewear"> </span><img class="title-shape-2"
                        src="assets/imgs/shape/shape-11.webp" alt="image">
                    </h1>
                  </div>

                </div>
              </div>
              <div class="section-content">
                <ul class="social-links fade-anim" data-delay="0.60">
                  <li><a href="#">Facebook</a></li>
                  <li><a href="#">Dribbble</a></li>
                  <li><a href="#">Behance</a></li>
                  <li><a href="#">Twitter</a></li>
                  <li><a href="#">Linkedin</a></li>
                </ul>
                <div class="content-middle fade-anim" data-delay="0.75">
                  <p class="text info-text">From 1994-2025 <br>
                    we’re growing
                    fast</p>
                </div>
                <div class="content-last fade-anim" data-delay="0.90">
                  <div class="text-wrapper">
                    <p class="text about-text rr_title_anim">We help brands and company in marketing solution. As a
                      cause-led
                      digital marketing
                      and brand agency, we harness the power of technology and creativity to drive positive feedback.
                    </p>
                  </div>
                  <div class="btn-wrapper">
                    <a href="contact.html" class="rr-btn-group">
                      <span class="b">Get started</span>
                      <span class="c"><i class="fa-solid fa-arrow-right"></i></span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- hero area end  -->

        <div class="image-wrapper fade-anim parallax-view">
          <img class="w-100" src="assets/imgs/gallery/image-12.webp" alt="image" data-speed="0.8">
        </div>

        <!-- service area start  -->
        <section class="service-area-3">
          <div class="container large">
            <div class="service-area-3-inner section-spacing-top">
              <div class="section-header fade-anim">
                <div class="section-title-wrapper">
                  <div class="title-wrapper">
                    <h2 class="section-title font-sequelsans-romanbody rr_title_anim">Leading core <br>
                      industry <span class="mb-14"> <a href="services.html" class="rr-btn-group">
                          <span class="b">Explore all</span>
                          <span class="c"><i class="fa-solid fa-arrow-right"></i></span>
                        </a></span>

                    </h2>
                  </div>
                </div>
              </div>
              <div class="services-wrapper-box">
                <div class="services-wrapper-3">
                  <div class="service-box fade-anim" data-delay="0.45">
                    <div class="thumb">
                      <a href="service-details.html"><img src="assets/imgs/gallery/image-13.webp" alt="image"></a>
                    </div>
                    <div class="content">
                      <h3 class="title"><a href="service-details.html">Search Engine <br>
                          Optimization</a></h3>
                      <p class="text">We are internal team of creative project managers search engine optimization.
                      </p>
                      <a href="service-details.html" class="rr-btn-underline">Explore</a>
                    </div>
                  </div>
                  <div class="service-box fade-anim" data-delay="0.60">
                    <div class="thumb">
                      <a href="service-details.html"><img src="assets/imgs/gallery/image-14.webp" alt="image"></a>
                    </div>
                    <div class="content">
                      <h3 class="title"><a href="service-details.html">Social <br>
                          Marketing</a></h3>
                      <p class="text">We are internal team of creative project managers search engine optimization.
                      </p>
                      <a href="service-details.html" class="rr-btn-underline">Explore</a>
                    </div>
                  </div>
                  <div class="service-box fade-anim" data-delay="0.75">
                    <div class="thumb">
                      <a href="service-details.html"> <img src="assets/imgs/gallery/image-15.webp" alt="image"></a>
                    </div>
                    <div class="content">
                      <h3 class="title"><a href="service-details.html">Email <br>
                          Marketing</a></h3>
                      <p class="text">We are internal team of creative project managers search engine optimization.
                      </p>
                      <a href="service-details.html" class="rr-btn-underline">Explore</a>
                    </div>
                  </div>
                  <div class="service-box fade-anim" data-delay="0.90">
                    <div class="thumb">
                      <a href="service-details.html"><img src="assets/imgs/gallery/image-16.webp" alt="image"></a>
                    </div>
                    <div class="content">
                      <h3 class="title"><a href="service-details.html">Content <br>
                          Marketing</a></h3>
                      <p class="text">We are internal team of creative project managers search engine optimization.
                      </p>
                      <a href="service-details.html" class="rr-btn-underline">Explore</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- service area end  -->

        <!-- work area start  -->
        <section class="work-area-3">
          <div class="container large">
            <div class="work-area-3-inner section-spacing-top">
              <div class="section-header fade-anim">
                <div class="section-title-wrapper">
                  <div class="title-wrapper">
                    <h2 class="section-title font-sequelsans-romanbody rr_title_anim">We find the unique, easy
                      solution for each creative
                      project
                      <span class="mb-14"><a href="portfolio.html" class="rr-btn-group">
                          <span class="b">View all work</span>
                          <span class="c"><i class="fa-solid fa-arrow-right"></i></span>
                        </a>
                      </span>
                    </h2>
                  </div>
                </div>
              </div>
              <div class="works-wrapper-box">
                <div class="works-wrapper-3">
                  <div class="work-box fade-anim">
                    <div class="thumb">
                      <div class="image scale" data-cursor-text="View Project">
                        <a href="portfolio-details.html"><img src="assets/imgs/project/image-19.webp" alt="image"></a>
                      </div>
                    </div>
                    <div class="content">
                      <h3 class="title"><a href="portfolio-details.html">Harash Denmark</a></h3>
                      <div class="meta">
                        <span class="date">2010</span>
                        <span class="tag">Branding</span>
                      </div>
                    </div>
                  </div>
                  <div class="work-box fade-anim">
                    <div class="thumb">
                      <div class="image scale" data-cursor-text="View Project">
                        <a href="portfolio-details.html"><img src="assets/imgs/project/image-20.webp" alt="image"></a>
                      </div>
                    </div>
                    <div class="content">
                      <h3 class="title"><a href="portfolio-details.html">Saudi Lime Green</a></h3>
                      <div class="meta">
                        <span class="date">2010</span>
                        <span class="tag">Marketing</span>
                      </div>
                    </div>
                  </div>
                  <div class="work-box fade-anim">
                    <div class="thumb">
                      <div class="image scale" data-cursor-text="View Project">
                        <a href="portfolio-details.html"><img src="assets/imgs/project/image-21.webp" alt="image"></a>
                      </div>
                    </div>
                    <div class="content">
                      <h3 class="title"><a href="portfolio-details.html">Saudi Venture Capital</a></h3>
                      <div class="meta">
                        <span class="date">2010</span>
                        <span class="tag">Marketing</span>
                      </div>
                    </div>
                  </div>
                  <div class="work-box fade-anim">
                    <div class="thumb">
                      <div class="image scale" data-cursor-text="View Project">
                        <a href="portfolio-details.html"><img src="assets/imgs/project/image-22.webp" alt="image"></a>
                      </div>
                    </div>
                    <div class="content">
                      <h3 class="title"><a href="portfolio-details.html">Nilachal Network</a></h3>
                      <div class="meta">
                        <span class="date">2010</span>
                        <span class="tag">Marketing</span>
                      </div>
                    </div>
                  </div>
                  <div class="work-box fade-anim">
                    <div class="thumb">
                      <div class="image scale" data-cursor-text="View Project">
                        <a href="portfolio-details.html"><img src="assets/imgs/project/image-23.webp" alt="image"></a>
                      </div>
                    </div>
                    <div class="content">
                      <h3 class="title"><a href="portfolio-details.html">Royal Cash App </a></h3>
                      <div class="meta">
                        <span class="date">2010</span>
                        <span class="tag">Design</span>
                      </div>
                    </div>
                  </div>
                  <div class="work-box fade-anim">
                    <div class="thumb">
                      <div class="image scale" data-cursor-text="View Project">
                        <a href="portfolio-details.html"><img src="assets/imgs/project/image-24.webp" alt="image"></a>
                      </div>
                    </div>
                    <div class="content">
                      <h3 class="title"><a href="portfolio-details.html">Mashup Gradient</a></h3>
                      <div class="meta">
                        <span class="date">2010</span>
                        <span class="tag">Design</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- work area end  -->

        <!-- approach area start  -->
        <section class="approach-area">
          <div class="container large">
            <div class="approach-area-inner section-spacing">
              <div class="section-header">
                <div class="section-title-wrapper">
                  <div class="subtitle-wrapper fade-anim" data-direction="left">
                    <span class="section-subtitle">Approach, expertise <br>
                      and values</span>
                  </div>
                  <div class="title-wrapper fade-anim" data-direction="right">
                    <h2 class="section-title font-sequelsans-romanbody rr_title_anim">Whether you’re
                      a <span>startup</span>
                      or <span>industry star</span>, we’re here
                      to promote your brand by
                      ai-driven keyword and real
                      structure</h2>
                  </div>
                </div>
              </div>
              <div class="approach-wrapper-box">
                <span class="steps fade-anim">04</span>
                <div class="approach-wrapper">
                  <div class="approach-box">
                    <span class="number">01</span>
                    <h3 class="title">Keyword research</h3>
                    <p class="text">Our mission is to empower the brands we believe in with tailor-made approaches
                      that ignite creativity and growth without limits.</p>
                  </div>
                  <div class="approach-box">
                    <span class="number">02</span>
                    <h3 class="title">Ai-driven keyword generator</h3>
                    <p class="text">Our mission is to empower the brands we believe in with tailor-made approaches
                      that ignite creativity and growth without limits.</p>
                  </div>
                  <div class="approach-box">
                    <span class="number">03</span>
                    <h3 class="title">Real traffic organizer</h3>
                    <p class="text">Our mission is to empower the brands we believe in with tailor-made approaches
                      that ignite creativity and growth without limits.</p>
                  </div>
                  <div class="approach-box">
                    <span class="number">04</span>
                    <h3 class="title">Technical finalism</h3>
                    <p class="text">Our mission is to empower the brands we believe in with tailor-made approaches
                      that ignite creativity and growth without limits.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- approach area end  -->

        <!-- funfact area start  -->
        <section class="funfact-area-2">
          <div class="funfact-area-2-inner section-spacing-top">
            <div class="container large">
              <div class="section-header fade-anim">
                <div class="section-title-wrapper">
                  <div class="title-wrapper">
                    <h2 class="section-title font-sequelsans-romanbody rr_title_anim">Yes! we take some
                      smart decisions for
                      brands
                      <span class="mb-14">
                        <a href="contact.html" class="rr-btn-group btn-whte">
                          <span class="b">Get started</span>
                          <span class="c"><i class="fa-solid fa-arrow-right"></i></span>
                        </a>
                      </span>
                    </h2>
                  </div>
                </div>
              </div>
              <div class="section-content">
                <div class="text-wrapper fade-anim">
                  <p class="text">We help brands and company in marketing solution. As a cause-led digital marketing
                    and brand agency, we harness the power of technology and creativity to drive positive feedback.
                  </p>
                </div>
                <div class="info-text fade-anim" data-direction="right">
                  <span class="year">1475</span>
                  <div class="about-info">
                    <img src="assets/imgs/shape/shape-12.webp" alt="image">
                    <p class="text">Projects successfully
                      completed from last
                      25 years.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="thumb fade-anim">
              <img src="assets/imgs/gallery/image-17.webp" alt="image">
            </div>
          </div>
        </section>
        <!-- funfact area end  -->

        <!-- client area start  -->
        <div class="client-area-3">
          <div class="client-area-3-inner section-spacing">
            <div class="container large">
              <div class="section-header fade-anim">
                <div class="text-wrapper">
                  <p class="text rr_title_anim">Help to brands growing up and show
                    their success stories to the world</p>
                </div>
              </div>
            </div>
            <div class="clients-wrapper-box fade-anim">
              <div class="clients-wrapper">
                <div class="swiper client-slider-active">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <div class="client-box">
                        <img src="assets/imgs/client/client-1.webp" alt="image">
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="client-box">
                        <img src="assets/imgs/client/client-2.webp" alt="image">
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="client-box">
                        <img src="assets/imgs/client/client-3.webp" alt="image">
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="client-box">
                        <img src="assets/imgs/client/client-4.webp" alt="image">
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="client-box">
                        <img src="assets/imgs/client/client-5.webp" alt="image">
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="client-box">
                        <img src="assets/imgs/client/client-6.webp" alt="image">
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="client-box">
                        <img src="assets/imgs/client/client-7.webp" alt="image">
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="client-box">
                        <img src="assets/imgs/client/client-8.webp" alt="image">
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="client-box">
                        <img src="assets/imgs/client/client-1.webp" alt="image">
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="client-box">
                        <img src="assets/imgs/client/client-2.webp" alt="image">
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="client-box">
                        <img src="assets/imgs/client/client-3.webp" alt="image">
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="client-box">
                        <img src="assets/imgs/client/client-4.webp" alt="image">
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="client-box">
                        <img src="assets/imgs/client/client-5.webp" alt="image">
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="client-box">
                        <img src="assets/imgs/client/client-6.webp" alt="image">
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="client-box">
                        <img src="assets/imgs/client/client-7.webp" alt="image">
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="client-box">
                        <img src="assets/imgs/client/client-8.webp" alt="image">
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
        <!-- client area end  -->

        <!-- blog area start  -->
        <section class="blog-area">
          <div class="container large">
            <div class="blog-area-inner section-spacing-top">
              <div class="section-header fade-anim">
                <div class="section-title-wrapper">
                  <div class="title-wrapper">
                    <h2 class="section-title font-sequelsans-romanbody rr_title_anim">Learn our recent
                      journal
                      <span class="mb-14">
                        <a href="blog.html" class="rr-btn-group">
                          <span class="b">Learn all news</span>
                          <span class="c"><i class="fa-solid fa-arrow-right"></i></span>
                        </a>
                      </span>
                    </h2>
                  </div>
                </div>
              </div>
              <div class="blogs-wrapper-box">
                <div class="blogs-wrapper">
                  <a href="blog-details.html">
                    <article class="blog fade-anim" data-delay="0.45">
                      <div class="thumb">
                        <img src="assets/imgs/blog/blog-1.webp" alt="blog image">
                      </div>
                      <div class="content-wrapper">
                        <div class="content">
                          <h2 class="title">Beyond the basics, how to take marketing to the next level
                            <span class="arrow">
                              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 14" fill="none">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                  d="M8.98834 0.661257C8.91884 0.781628 8.85302 0.903885 8.79094 1.02786C8.47298 1.49122 8.0835 1.90234 7.63629 2.2455C7.07879 2.67328 6.4425 2.98707 5.76373 3.16894C5.08497 3.35082 4.37702 3.39722 3.68033 3.3055C2.98363 3.21377 2.31182 2.98572 1.70325 2.63437L0.869521 4.07843C1.66772 4.53928 2.54888 4.83839 3.46268 4.95869C4.37648 5.079 5.30502 5.01814 6.1953 4.77959C6.36565 4.73394 6.53397 4.68196 6.6999 4.62381L2.03475 12.7041L3.47584 13.5361L8.16052 5.42201C8.19489 5.61171 8.23713 5.80022 8.28719 5.98704C8.52574 6.87732 8.9373 7.71189 9.49839 8.44311C10.0595 9.17433 10.7591 9.78788 11.5573 10.2487L12.391 8.80466C11.7825 8.4533 11.2491 7.98552 10.8213 7.42803C10.3935 6.87053 10.0797 6.23423 9.89783 5.55547C9.71595 4.8767 9.66955 4.16876 9.76128 3.47206C9.83484 2.91326 9.99611 2.37047 10.2384 1.86349C10.3146 1.74781 10.3875 1.62977 10.457 1.50948L10.4323 1.49521L10.4324 1.49499L8.98834 0.661257Z"
                                  fill="#111111" />
                              </svg>
                            </span>
                          </h2>
                          <div class="meta">
                            <span class="name">By <span>Jerry</span></span>
                            <span class="date has-left-line">2023</span>
                          </div>
                        </div>
                      </div>
                    </article>
                  </a>
                  <a href="blog-details.html">
                    <article class="blog fade-anim" data-delay="0.60">
                      <div class="thumb">
                        <img src="assets/imgs/blog/blog-2.webp" alt="blog image">
                      </div>
                      <div class="content-wrapper">
                        <div class="content">
                          <h2 class="title">Allow us to be the cool part of your days are open for now
                            <span class="arrow">
                              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 14" fill="none">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                  d="M8.98834 0.661257C8.91884 0.781628 8.85302 0.903885 8.79094 1.02786C8.47298 1.49122 8.0835 1.90234 7.63629 2.2455C7.07879 2.67328 6.4425 2.98707 5.76373 3.16894C5.08497 3.35082 4.37702 3.39722 3.68033 3.3055C2.98363 3.21377 2.31182 2.98572 1.70325 2.63437L0.869521 4.07843C1.66772 4.53928 2.54888 4.83839 3.46268 4.95869C4.37648 5.079 5.30502 5.01814 6.1953 4.77959C6.36565 4.73394 6.53397 4.68196 6.6999 4.62381L2.03475 12.7041L3.47584 13.5361L8.16052 5.42201C8.19489 5.61171 8.23713 5.80022 8.28719 5.98704C8.52574 6.87732 8.9373 7.71189 9.49839 8.44311C10.0595 9.17433 10.7591 9.78788 11.5573 10.2487L12.391 8.80466C11.7825 8.4533 11.2491 7.98552 10.8213 7.42803C10.3935 6.87053 10.0797 6.23423 9.89783 5.55547C9.71595 4.8767 9.66955 4.16876 9.76128 3.47206C9.83484 2.91326 9.99611 2.37047 10.2384 1.86349C10.3146 1.74781 10.3875 1.62977 10.457 1.50948L10.4323 1.49521L10.4324 1.49499L8.98834 0.661257Z"
                                  fill="#111111" />
                              </svg>
                            </span>
                          </h2>
                          <div class="meta">
                            <span class="name">By <span>Jerry</span></span>
                            <span class="date has-left-line">2023</span>
                          </div>
                        </div>
                      </div>
                    </article>
                  </a>
                  <a href="blog-details.html">
                    <article class="blog fade-anim" data-delay="0.75">
                      <div class="thumb">
                        <img src="assets/imgs/blog/blog-3.webp" alt="blog image">
                      </div>
                      <div class="content">
                        <h2 class="title">Various ideas and creative concepts based on market research
                          <span class="arrow">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 14" fill="none">
                              <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M8.98834 0.661257C8.91884 0.781628 8.85302 0.903885 8.79094 1.02786C8.47298 1.49122 8.0835 1.90234 7.63629 2.2455C7.07879 2.67328 6.4425 2.98707 5.76373 3.16894C5.08497 3.35082 4.37702 3.39722 3.68033 3.3055C2.98363 3.21377 2.31182 2.98572 1.70325 2.63437L0.869521 4.07843C1.66772 4.53928 2.54888 4.83839 3.46268 4.95869C4.37648 5.079 5.30502 5.01814 6.1953 4.77959C6.36565 4.73394 6.53397 4.68196 6.6999 4.62381L2.03475 12.7041L3.47584 13.5361L8.16052 5.42201C8.19489 5.61171 8.23713 5.80022 8.28719 5.98704C8.52574 6.87732 8.9373 7.71189 9.49839 8.44311C10.0595 9.17433 10.7591 9.78788 11.5573 10.2487L12.391 8.80466C11.7825 8.4533 11.2491 7.98552 10.8213 7.42803C10.3935 6.87053 10.0797 6.23423 9.89783 5.55547C9.71595 4.8767 9.66955 4.16876 9.76128 3.47206C9.83484 2.91326 9.99611 2.37047 10.2384 1.86349C10.3146 1.74781 10.3875 1.62977 10.457 1.50948L10.4323 1.49521L10.4324 1.49499L8.98834 0.661257Z"
                                fill="#111111" />
                            </svg>
                          </span>
                        </h2>
                        <div class="meta">
                          <span class="name">By <span>Jerry</span></span>
                          <span class="date has-left-line">2023</span>
                        </div>
                      </div>
                    </article>
                  </a>
                  <a href="blog-details.html">
                    <article class="blog fade-anim" data-delay="0.90">
                      <div class="thumb">
                        <img src="assets/imgs/blog/blog-4.webp" alt="blog image">
                      </div>
                      <div class="content-wrapper">
                        <div class="content">
                          <h2 class="title">Create compelling visuals that grab attention to your customer
                            <span class="arrow">
                              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 14" fill="none">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                  d="M8.98834 0.661257C8.91884 0.781628 8.85302 0.903885 8.79094 1.02786C8.47298 1.49122 8.0835 1.90234 7.63629 2.2455C7.07879 2.67328 6.4425 2.98707 5.76373 3.16894C5.08497 3.35082 4.37702 3.39722 3.68033 3.3055C2.98363 3.21377 2.31182 2.98572 1.70325 2.63437L0.869521 4.07843C1.66772 4.53928 2.54888 4.83839 3.46268 4.95869C4.37648 5.079 5.30502 5.01814 6.1953 4.77959C6.36565 4.73394 6.53397 4.68196 6.6999 4.62381L2.03475 12.7041L3.47584 13.5361L8.16052 5.42201C8.19489 5.61171 8.23713 5.80022 8.28719 5.98704C8.52574 6.87732 8.9373 7.71189 9.49839 8.44311C10.0595 9.17433 10.7591 9.78788 11.5573 10.2487L12.391 8.80466C11.7825 8.4533 11.2491 7.98552 10.8213 7.42803C10.3935 6.87053 10.0797 6.23423 9.89783 5.55547C9.71595 4.8767 9.66955 4.16876 9.76128 3.47206C9.83484 2.91326 9.99611 2.37047 10.2384 1.86349C10.3146 1.74781 10.3875 1.62977 10.457 1.50948L10.4323 1.49521L10.4324 1.49499L8.98834 0.661257Z"
                                  fill="#111111" />
                              </svg>
                            </span>
                          </h2>
                          <div class="meta">
                            <span class="name">By <span>Jerry</span></span>
                            <span class="date has-left-line">2023</span>
                          </div>
                        </div>
                      </div>
                    </article>
                  </a>
                </div>
              </div>

            </div>
          </div>
        </section>
        <!-- blog area end  -->

        <!-- cta area start  -->
        <section class="cta-area-3">
          <div class="container large">
            <div class="cta-area-3-inner section-spacing-top">
              <div class="section-header fade-anim">
                <div class="section-title-wrapper">
                  <div class="title-wrapper">
                    <h2 class="section-title font-sequelsans-romanbody rr_title_anim">Let’s start a
                      great work right
                      now
                      <span class="mb-14">
                        <a href="contact.html" class="rr-btn-group">
                          <span class="b">Get in touch</span>
                          <span class="c"><i class="fa-solid fa-arrow-right"></i></span>
                        </a>
                      </span>
                    </h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- cta area end  -->

      </main>

      <!-- footer area start  -->
      <footer class="footer-area-2">
        <div class="container large">
          <div class="footer-widget-wrapper-box">
            <div class="footer-widget-wrapper">
              <div class="footer-widget-box newsletter">
                <form action="#" class="subscribe-form">
                  <div class="input-field">
                    <input type="email" placeholder="Enter your email">
                    <button type="submit" class="subscribe-btn"><img src="assets/imgs/icon/icon-1.webp"
                        alt="image"></button>
                  </div>
                </form>
                <div class="subscription-text">
                  <div class="text-wrapper">
                    <p class="text">By subscribing you agree with our
                      <a href="contact.html">Privacy Policy</a>
                    </p>
                  </div>
                </div>
              </div>
              <div class="footer-widget-box">
                <h2 class="title">Company</h2>
                <ul class="footer-nav-list">
                  <li><a href="contact.html">agency</a></li>
                  <li><a href="contact.html">Solutions</a></li>
                  <li><a href="contact.html">Community</a></li>
                  <li><a href="contact.html">Work</a></li>
                  <li><a href="contact.html">Contact</a></li>
                </ul>
              </div>
              <div class="footer-widget-box">
                <h2 class="title">Social</h2>
                <ul class="footer-nav-list">
                  <li><a href="contact.html">Facebook</a></li>
                  <li><a href="contact.html">Twitter</a></li>
                  <li><a href="contact.html">Dribbble</a></li>
                  <li><a href="contact.html">Instagram</a></li>
                  <li><a href="contact.html">Awwwards</a></li>
                  <li><a href="contact.html">YouTube</a></li>
                </ul>
              </div>
              <div class="footer-widget-box">
                <h2 class="title">Office</h2>
                <ul class="footer-nav-list">
                  <li><a href="contact.html">New York</a></li>
                  <li><a href="contact.html">Toronto</a></li>
                  <li><a href="contact.html">Berlin</a></li>
                  <li><a href="contact.html">London</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="copyright-area">
          <div class="copyright-area-inner">
            <div class="copyright-text">
              <p class="text">© 2025 <a href="https://themeforest.net/user/ravextheme">RavexTheme.</a> All right
                reserved</p>
            </div>
          </div>
        </div>
      </footer>
      <!-- footer area end  -->

    </div>
  </div>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/jquery-3.7.1.min.js"></script>
  <script src="assets/vendor/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/jquery.magnific-popup.min.js"></script>
  <script src="assets/vendor/swiper-bundle.min.js"></script>
  <script src="assets/vendor/gsap.min.js"></script>
  <script src="assets/vendor/ScrollTrigger.min.js"></script>
  <script src="assets/vendor/ScrollSmoother.min.js"></script>
  <script src="assets/vendor/ScrollToPlugin.min.js"></script>
  <script src="assets/vendor/SplitText.min.js"></script>
  <script src="assets/vendor/TextPlugin.js"></script>
  <script src="assets/vendor/customEase.js"></script>
  <script src="assets/vendor/Flip.min.js"></script>
  <script src="assets/vendor/jquery.meanmenu.min.js"></script>
  <script src="assets/vendor/backToTop.js"></script>
  <script src="assets/vendor/matter.js"></script>
  <script src="assets/vendor/throwable.js"></script>
  <script src="assets/js/magiccursor.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>