<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Redox HTML Template">

  <title>Redox - Creative Agency and Portfolio HTML Template</title>

  <!-- Fav Icon -->
  <link rel="icon" type="image/x-icon" href="assets/imgs/logo/favicon.png">

  <!-- Vendor CSS Files -->
  <link rel="stylesheet" href="assets/vendor/bootstrap.min.css">
  <link rel="stylesheet" href="assets/vendor/fontawesome.min.css">
  <link rel="stylesheet" href="assets/vendor/swiper-bundle.min.css">
  <link rel="stylesheet" href="assets/vendor/meanmenu.min.css">
  <link rel="stylesheet" href="assets/vendor/magnific-popup.css">
  <link rel="stylesheet" href="assets/vendor/animate.min.css">

  <!-- Template Main CSS File -->
  <link rel="stylesheet" href="assets/css/style.css">

</head>

<body class="body-wrapper dark body-startup-agency font-heading-bdogrotesk-regular">

  <!-- Preloader -->
  <div id="preloader">
    <div id="container" class="container-preloader">
      <div class="animation-preloader">
        <div class="spinner"></div>

      </div>
      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
    </div>
  </div>

  <!-- Sroll to top -->
  <div class="progress-wrap">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
      <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"></path>
    </svg>
  </div>

  <!-- side toggle start -->
  <aside class="fix">
    <div class="side-info">
      <div class="side-info-content">
        <div class="offset-widget offset-header">
          <div class="offset-logo">
            <a href="index.html">
              <img src="assets/imgs/logo/logo-2-light.png" alt="site logo">
            </a>
          </div>
          <button id="side-info-close" class="side-info-close">
            <i class="fas fa-times"></i>
          </button>
        </div>
        <div class="mobile-menu d-xl-none fix"></div>
        <div class="offset-button">
          <a href="contact.html" class="rr-btn">
            <span class="btn-wrap">
              <span class="text-one">Let's Talk</span>
              <span class="text-two">Let's Talk</span>
            </span>
          </a>
        </div>
        <div class="offset-widget-box">
          <h2 class="title">Contact US</h2>
          <div class="contact-meta">
            <div class="contact-item">
              <span class="icon"><i class="fa-solid fa-location-dot"></i></span>
              <span class="text">3891 Ranchview Dr. Richardson</span>
            </div>
            <div class="contact-item">
              <span class="icon"><i class="fa-solid fa-envelope"></i></span>
              <span class="text"><a href="mailto:hello@redoxagency.com">hello@redoxagency.com</a></span>
            </div>
            <div class="contact-item">
              <span class="icon"><i class="fa-solid fa-phone"></i></span>
              <span class="text"><a href="tel:(505)555-0125">(505) 555-0125</a></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </aside>
  <div class="offcanvas-overlay"></div>
  <!-- side toggle end -->

  <!-- Header area start -->
  <header class="header-area-5">
    <div class="header-main">
      <div class="container large">
        <div class="header-area-5__inner">
          <div class="header__logo">
            <a href="index.html">
              <img src="assets/imgs/logo/logo-2-light.png" class="normal-logo" alt="Site Logo">
            </a>
          </div>
          <div class="header__nav">
            <nav class="main-menu">
              <ul>
                <li class="menu-item-has-children">
                  <a href="#">Home</a>
                  <ul class="dp-menu col-2">
                    <li><a href="digital-agency.html">Digital Agency</a></li>
                    <li><a href="creative-agency.html">Creative Agency</a></li>
                    <li><a href="marketing-agency.html">Marketing Agency</a></li>
                    <li><a href="design-agency.html">Design Agency</a></li>
                    <li><a href="startup-agency.html">Startup Agency</a></li>
                    <li><a href="modern-agency.html">Modern Agency</a></li>
                    <li><a href="agency-portfolio.html">Agency Portfolio</a></li>
                    <li><a href="portfolio-horizontal.html">Portfolio Horizontal</a></li>
                    <li><a href="portfolio-line-effect.html">Portfolio Line Effect</a></li>
                    <li><a href="portfolio-box-effect.html">Portfolio Box Effect</a></li>
                    <li><a href="portfolio-vertical.html">Portfolio Vertical</a></li>
                    <li><a href="portfolio-slicer.html">Portfolio Slicer</a></li>
                    <li><a href="parallax-carousal.html">Parallax Carousal</a></li>
                    <li><a href="portfolio-showcase.html">Portfolio Showcase</a></li>
                  </ul>
                </li>
                <li><a href="about.html">About Us</a></li>
                <li class="menu-item-has-children">
                  <a href="#">Service</a>
                  <ul class="dp-menu">
                    <li><a href="services.html">Core Services</a></li>
                    <li><a href="services-2.html">Services ST. Pulse</a></li>
                    <li><a href="services-3.html">Services ST. Morph</a></li>
                    <li><a href="services-4.html">Services ST. Nova</a></li>
                    <li><a href="services-5.html">Services ST. Zenith</a></li>
                    <li><a href="services-6.html">Services ST. Prism</a></li>
                    <li><a href="service-details.html">Service Details</a></li>
                  </ul>
                </li>
                <li class="menu-item-has-children">
                  <a href="#">Blog</a>
                  <ul class="dp-menu">
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="blog-details.html">Blog Details</a></li>
                  </ul>
                </li>
                <li class="menu-item-has-children">
                  <a href="#">Pages</a>
                  <ul class="dp-menu">
                    <li><a href="portfolio.html">Core Portfolio</a></li>
                    <li><a href="portfolio-2.html">Portfolio ST. Classic</a></li>
                    <li><a href="portfolio-3.html">Portfolio ST. Minimal</a></li>
                    <li><a href="portfolio-4.html">Portfolio ST. Modern</a></li>
                    <li><a href="portfolio-5.html">Portfolio ST. Interactive</a></li>
                    <li><a href="portfolio-6.html">Portfolio ST. Metro</a></li>
                    <li><a href="portfolio-details.html">Portfolio Details</a></li>
                    <li><a href="team.html">Team</a></li>
                    <li><a href="team-details.html">Team Details</a></li>
                    <li><a href="faq.html">FAQ Page</a></li>
                    <li><a href="404.html">404 Page</a></li>
                  </ul>
                </li>
                <li><a href="contact.html">Contact</a></li>
              </ul>
            </nav>
            <!-- <nav class="menu d-none d-xl-block">
              <ul>
                <li><a href="portfolio.html">Works</a></li>
                <li><a href="services.html">Services</a></li>
                <li><a href="services.html">Studio</a></li>
                <li><a href="contact.html">Get in Touch</a></li>
              </ul>
            </nav> -->
          </div>
          <div class="header__navicon d-xl-none">
            <button class="side-toggle"><img src="assets/imgs/icon/icon-2.webp" alt="image"></button>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- Header area end -->

  <div class="has-smooth" id="has_smooth"></div>
  <div id="smooth-wrapper">
    <div id="smooth-content">

      <main>

        <!-- hero area start  -->
        <section class="hero-area-5">
          <div class="container large">
            <div class="hero-area-5-inner section-spacing">
              <div class="section-content-wrapper">
                <div class="hero-video fade-anim" data-direction="left" data-delay="0.45" data-offset="100"
                  data-ease="back.out(3)">
                  <video class="title-video" loop muted autoplay playsinline>
                    <source src="https://rrdevs.net/project-video/xfire.webm" type="video/mp4">
                  </video>
                </div>
                <div class="section-content">
                  <div class="section-title-wrapper">
                    <div class="title-wrapper fade-anim">
                      <h1 class="section-title font-bdogrotesk-regular char-anim">Where visionary
                        concepts come
                        to life</h1>
                    </div>
                  </div>
                  <div class="text-btn-wrapper fade-anim" data-delay="0.60">
                    <div class="text-wrapper fade-anim" data-delay="0.75">
                      <p class="text">We’re a leading digital product agency focused on branding, UI/UX
                        design,
                        mobile,
                        and web development.</p>
                    </div>
                    <div class="btn-wrapper fade-anim" data-delay="0.90">
                      <a href="contact.html" class="rr-btn">
                        <span class="btn-wrap">
                          <span class="text-one">Send massage</span>
                          <span class="text-two">Send massage</span>
                        </span>
                      </a>
                    </div>
                  </div>
                </div>

              </div>
              <div class="hero-shape-1 section-spacing-top">
                <img class="fade-anim" data-direction="right" data-offset="100" data-delay="1.05"
                  src="assets/imgs/shape/shape-19.webp" alt="image">
              </div>
            </div>
          </div>
        </section>
        <!-- hero area end  -->

        <!-- work area start  -->
        <section class="work-area-4">
          <div class="container large">
            <div class="work-area-4-inner section-spacing-top">
              <div class="section-header fade-anim">
                <div class="section-title-wrapper">
                  <div class="subtitle-wrapper">
                    <span class="section-subtitle">
                      Products
                      <svg viewBox="0 0 99 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M1.41291 5.98894C1.41291 5.98894 3.65997 6.01383 4.51655 5.98894C7.19358 5.56824 10.4255 5.80978 13.363 5.56824C17.8256 5.20128 22.1327 4.79415 26.6187 4.79415C31.6715 4.79415 36.6774 4.21934 41.7162 4.18834C46.981 4.15594 52.2465 4.18834 57.5114 4.18834C68.6462 4.18834 79.781 4.18834 90.9158 4.18834C121.155 6.61149 47.6583 -1.30401 1 1.68408"
                          stroke="#111111" stroke-linecap="round" class="svg-elem-1"></path>
                      </svg>
                    </span>
                  </div>
                  <div class="title-wrapper">
                    <h2 class="section-title font-bdogrotesk-regular fade-anim">The work we do, and our favorite
                      ones</h2>
                    <div class="btn-wrapper fade-anim">
                      <a href="service-details.html" class="rr-btn-underline">Browse all products
                        <span class="icon"><img src="assets/imgs/icon/icon-5.webp" alt="image"></span></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="works-wrapper-box section-spacing-top">
                <div class="works-wrapper-4 fade-anim">
                  <div class="work-box">
                    <div class="thumb">
                      <div class="image scale" data-cursor-text="View Details" data-cursor-text-red>
                        <a href="portfolio-details.html"><img src="assets/imgs/project/image-30.webp" alt="image"></a>
                      </div>
                    </div>
                    <div class="content">
                      <h3 class="title"><a href="portfolio-details.html">Redox Digital Agency HTML Template</a></h3>
                      <div class="meta">
                        <span class="tag">WordPress, Themeforest</span>
                        <span class="date">(2025)</span>
                      </div>
                    </div>
                  </div>
                  <div class="work-box">
                    <div class="thumb">
                      <div class="image scale" data-cursor-text="View Details" data-cursor-text-red>
                        <a href="portfolio-details.html"><img src="assets/imgs/project/image-31.webp" alt="image"></a>
                      </div>
                    </div>
                    <div class="content">
                      <h3 class="title"><a href="portfolio-details.html">Redox Digital Agency Theme</a></h3>
                      <div class="meta">
                        <span class="tag">Themeforest</span>
                        <span class="date">(2025)</span>
                      </div>
                    </div>
                  </div>
                  <div class="work-box">
                    <div class="thumb">
                      <div class="image scale" data-cursor-text="View Details" data-cursor-text-red>
                        <a href="portfolio-details.html"><img src="assets/imgs/project/image-32.webp" alt="image"></a>
                      </div>
                    </div>
                    <div class="content">
                      <h3 class="title"><a href="portfolio-details.html">Redox Digital Agency HTML Template</a></h3>
                      <div class="meta">
                        <span class="tag">WordPress, Themeforest</span>
                        <span class="date">(2025)</span>
                      </div>
                    </div>
                  </div>
                  <div class="work-box">
                    <div class="thumb">
                      <div class="image scale" data-cursor-text="View Details" data-cursor-text-red>
                        <a href="portfolio-details.html"><img src="assets/imgs/project/image-33.webp" alt="image"></a>
                      </div>
                    </div>
                    <div class="content">
                      <h3 class="title"><a href="portfolio-details.html">Redox Digital Agency Theme</a></h3>
                      <div class="meta">
                        <span class="tag">Themeforest</span>
                        <span class="date">(2025)</span>
                      </div>
                    </div>
                  </div>
                  <div class="work-box">
                    <div class="thumb">
                      <div class="image scale" data-cursor-text="View Details" data-cursor-text-red>
                        <a href="portfolio-details.html"><img src="assets/imgs/project/image-34.webp" alt="image"></a>
                      </div>
                    </div>
                    <div class="content">
                      <h3 class="title"><a href="portfolio-details.html">Redox Digital Agency HTML Template</a></h3>
                      <div class="meta">
                        <span class="tag">WordPress, Themeforest</span>
                        <span class="date">(2025)</span>
                      </div>
                    </div>
                  </div>
                  <div class="work-box">
                    <div class="thumb">
                      <div class="image scale" data-cursor-text="View Details" data-cursor-text-red>
                        <a href="portfolio-details.html"><img src="assets/imgs/project/image-35.webp" alt="image"></a>
                      </div>
                    </div>
                    <div class="content">
                      <h3 class="title"><a href="portfolio-details.html">Redox Digital Agency Theme</a></h3>
                      <div class="meta">
                        <span class="tag">Themeforest</span>
                        <span class="date">(2025)</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- work area end  -->

        <!-- marquee text area start  -->
        <section class="marquee-text-area">
          <div class="moving-text">
            <div class="wrapper-text">
              <h2 class="section-title font-bdogrotesk-regular">Crafting digital products</h2>
            </div>
          </div>
        </section>
        <!-- marquee text area end  -->

        <!-- about area start  -->
        <section class="about-area-4">
          <div class="container large">
            <div class="about-area-4-inner section-spacing-bottom">
              <div class="section-header fade-anim">
                <div class="section-title-wrapper">
                  <div class="subtitle-wrapper">
                    <span class="section-subtitle">
                      The studio
                      <svg viewBox="0 0 99 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M1.41291 5.98894C1.41291 5.98894 3.65997 6.01383 4.51655 5.98894C7.19358 5.56824 10.4255 5.80978 13.363 5.56824C17.8256 5.20128 22.1327 4.79415 26.6187 4.79415C31.6715 4.79415 36.6774 4.21934 41.7162 4.18834C46.981 4.15594 52.2465 4.18834 57.5114 4.18834C68.6462 4.18834 79.781 4.18834 90.9158 4.18834C121.155 6.61149 47.6583 -1.30401 1 1.68408"
                          stroke="#111111" stroke-linecap="round" class="svg-elem-1"></path>
                      </svg>
                    </span>
                  </div>
                  <div class="title-wrapper">
                    <h2 class="section-title font-bdogrotesk-regular fade-anim">We’re a design and
                      development studio
                      since 2017 who craft
                      digital masterpiece
                      products.</h2>
                    <div class="btn-wrapper fade-anim">
                      <a href="about.html" class="rr-btn">
                        <span class="btn-wrap">
                          <span class="text-one">Learn more us</span>
                          <span class="text-two">Learn more us</span>
                        </span>
                      </a>
                      <a href="portfolio.html" class="rr-btn-underline">Browse all products
                        <span class="icon"><img src="assets/imgs/icon/icon-5.webp" alt="image"></span></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="thumb parallax-view go_full">
                <img src="assets/imgs/gallery/image-51.webp" alt="image" data-speed="0.8">
              </div>
            </div>
          </div>
        </section>
        <!-- about area end  -->

        <!-- service area start  -->
        <section class="service-area-5">
          <div class="container large">
            <div class="service-area-5-inner section-spacing-top">
              <div class="section-header fade-anim">
                <div class="section-title-wrapper">
                  <div class="subtitle-wrapper">
                    <span class="section-subtitle">
                      Services
                      <svg viewBox="0 0 99 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M1.41291 5.98894C1.41291 5.98894 3.65997 6.01383 4.51655 5.98894C7.19358 5.56824 10.4255 5.80978 13.363 5.56824C17.8256 5.20128 22.1327 4.79415 26.6187 4.79415C31.6715 4.79415 36.6774 4.21934 41.7162 4.18834C46.981 4.15594 52.2465 4.18834 57.5114 4.18834C68.6462 4.18834 79.781 4.18834 90.9158 4.18834C121.155 6.61149 47.6583 -1.30401 1 1.68408"
                          stroke="#111111" stroke-linecap="round" class="svg-elem-1"></path>
                      </svg>
                    </span>
                  </div>
                  <div class="title-wrapper tt_title_anim">
                    <h2 class="section-title font-bdogrotesk-regular">Services
                      we provide</h2>
                  </div>
                </div>
              </div>
              <div class="services-wrapper-box">
                <div class="text-wrapper fade-anim">
                  <p class="info-text">We are here to build solid and courageous brands that can leave a strong mark on
                    the
                    world.</p>
                </div>
                <div class="services-wrapper-5">
                  <a href="service-details.html">
                    <div class="service-box fade-anim">
                      <div class="count">
                        <span class="number">(001)</span>
                      </div>

                      <div class="content">
                        <h3 class="title">UI/UX Design</h3>
                        <p class="text">We help you build successful products by understanding your market and users.
                        </p>
                      </div>
                      <div class="thumb">
                        <img src="assets/imgs/project/image-47.webp" alt="image">
                      </div>
                    </div>
                  </a>
                  <a href="service-details.html">
                    <div class="service-box fade-anim">
                      <div class="count">
                        <span class="number">(002)</span>
                      </div>

                      <div class="content">
                        <h3 class="title">Web Development</h3>
                        <p class="text">We help you build successful products by understanding your market and users.
                        </p>
                      </div>
                      <div class="thumb">
                        <img src="assets/imgs/project/image-48.webp" alt="image">
                      </div>
                    </div>
                  </a>
                  <a href="service-details.html">
                    <div class="service-box fade-anim">
                      <div class="count">
                        <span class="number">(003)</span>
                      </div>

                      <div class="content">
                        <h3 class="title">Web Design</h3>
                        <p class="text">We help you build successful products by understanding your market and users.
                        </p>
                      </div>
                      <div class="thumb">
                        <img src="assets/imgs/project/image-49.webp" alt="image">
                      </div>
                    </div>
                  </a>
                  <a href="service-details.html">
                    <div class="service-box fade-anim">
                      <div class="count">
                        <span class="number">(004)</span>
                      </div>

                      <div class="content">
                        <h3 class="title">Branding Design</h3>
                        <p class="text">We help you build successful products by understanding your market and users.
                        </p>
                      </div>
                      <div class="thumb">
                        <img src="assets/imgs/project/image-50.webp" alt="image">
                      </div>
                    </div>
                  </a>
                  <a href="service-details.html">
                    <div class="service-box fade-anim">
                      <div class="count">
                        <span class="number">(005)</span>
                      </div>

                      <div class="content">
                        <h3 class="title">Webflow Development</h3>
                        <p class="text">We help you build successful products by understanding your market and users.
                        </p>
                      </div>
                      <div class="thumb">
                        <img src="assets/imgs/project/image-51.webp" alt="image">
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- service area end  -->

        <!-- cta area start  -->
        <section class="cta-area-4">
          <div class="container large">
            <div class="cta-area-4-inner section-spacing-top">
              <div class="section-header fade-anim" data-direction="left">
                <div class="section-title-wrapper">
                  <div class="title-wrapper">
                    <h2 class="section-title font-bdogrotesk-regular"><a href="contact.html">Let’s<span class="icon">
                          <img class="first" src="assets/imgs/icon/icon-9.webp" alt="">
                          <img class="second" src="assets/imgs/icon/icon-9.webp" alt="">
                        </span> <br>
                        build a brand now</a></h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- cta area end  -->

      </main>

      <!-- footer area start  -->
      <footer class="footer-area-4 section-spacing-top">
        <div class="container large">
          <div class="footer-widget-wrapper-box">
            <div class="footer-widget-wrapper">
              <div class="footer-widget-box">
                <div class="footer-logo">
                  <a href="index.html"><img src="assets/imgs/logo/logo-2-light.png" alt="site-logo"></a>
                </div>
              </div>
              <div class="footer-widget-box">
                <ul class="footer-nav-list">
                  <li><a href="contact.html">Studio</a></li>
                  <li><a href="contact.html">Works</a></li>
                  <li><a href="contact.html">Services</a></li>
                  <li><a href="contact.html">Themeforest</a></li>
                  <li><a href="contact.html">Webflow</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="copyright-area">
          <div class="container large">
            <div class="copyright-area-inner">
              <div class="copyright-text">
                <p class="text">© 2019 - 2025 | All rights reserved by <a
                    href="https://themeforest.net/user/ravextheme">RavexTheme</a></p>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <!-- footer area end  -->

    </div>
  </div>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/jquery-3.7.1.min.js"></script>
  <script src="assets/vendor/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/jquery.magnific-popup.min.js"></script>
  <script src="assets/vendor/swiper-bundle.min.js"></script>
  <script src="assets/vendor/gsap.min.js"></script>
  <script src="assets/vendor/ScrollTrigger.min.js"></script>
  <script src="assets/vendor/ScrollSmoother.min.js"></script>
  <script src="assets/vendor/ScrollToPlugin.min.js"></script>
  <script src="assets/vendor/SplitText.min.js"></script>
  <script src="assets/vendor/TextPlugin.js"></script>
  <script src="assets/vendor/customEase.js"></script>
  <script src="assets/vendor/Flip.min.js"></script>
  <script src="assets/vendor/jquery.meanmenu.min.js"></script>
  <script src="assets/vendor/backToTop.js"></script>
  <script src="assets/vendor/matter.js"></script>
  <script src="assets/vendor/throwable.js"></script>
  <script src="assets/js/magiccursor.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>