<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Redox HTML Template">

  <title>Redox - Creative Agency and Portfolio HTML Template</title>

  <!-- Fav Icon -->
  <link rel="icon" type="image/x-icon" href="assets/imgs/logo/favicon.png">

  <!-- Vendor CSS Files -->
  <link rel="stylesheet" href="assets/vendor/bootstrap.min.css">
  <link rel="stylesheet" href="assets/vendor/fontawesome.min.css">
  <link rel="stylesheet" href="assets/vendor/swiper-bundle.min.css">
  <link rel="stylesheet" href="assets/vendor/meanmenu.min.css">
  <link rel="stylesheet" href="assets/vendor/magnific-popup.css">
  <link rel="stylesheet" href="assets/vendor/animate.min.css">

  <!-- Template Main CSS File -->
  <link rel="stylesheet" href="assets/css/style.css">

</head>

<body class="body-wrapper body-page-inner font-heading-sequelsans-romanbody">

  <!-- Preloader -->
  <div id="preloader">
    <div id="container" class="container-preloader">
      <div class="animation-preloader">
        <div class="spinner"></div>

      </div>
      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
    </div>
  </div>

  <!-- Sroll to top -->
  <div class="progress-wrap">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
      <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"></path>
    </svg>
  </div>

  <!-- side toggle start -->
  <aside class="fix">
    <div class="side-info">
      <div class="side-info-content">
        <div class="offset-widget offset-header">
          <div class="offset-logo">
            <a href="index.html">
              <img src="assets/imgs/logo/logo-2.png" alt="site logo">
            </a>
          </div>
          <button id="side-info-close" class="side-info-close">
            <i class="fas fa-times"></i>
          </button>
        </div>
        <div class="mobile-menu d-xl-none fix"></div>
        <div class="offset-button">
          <a href="contact.html" class="rr-btn">
            <span class="btn-wrap">
              <span class="text-one">Let's Talk</span>
              <span class="text-two">Let's Talk</span>
            </span>
          </a>
        </div>
        <div class="offset-widget-box">
          <h2 class="title">Contact US</h2>
          <div class="contact-meta">
            <div class="contact-item">
              <span class="icon"><i class="fa-solid fa-location-dot"></i></span>
              <span class="text">3891 Ranchview Dr. Richardson</span>
            </div>
            <div class="contact-item">
              <span class="icon"><i class="fa-solid fa-envelope"></i></span>
              <span class="text"><a href="mailto:hello@redoxagency.com">hello@redoxagency.com</a></span>
            </div>
            <div class="contact-item">
              <span class="icon"><i class="fa-solid fa-phone"></i></span>
              <span class="text"><a href="tel:(505)555-0125">(505) 555-0125</a></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </aside>
  <div class="offcanvas-overlay"></div>
  <!-- side toggle end -->

  <!-- Header area start -->
  <header class="header-area-2">
    <div class="header-main">
      <div class="container large">
        <div class="header-area-2__inner">
          <div class="header__logo">
            <a href="index.html">
              <img src="assets/imgs/logo/logo-2.png" class="normal-logo" alt="Site Logo">
            </a>
          </div>
          <div class="header__nav pos-center">
            <nav class="main-menu">
              <ul>
                <li class="menu-item-has-children">
                  <a href="#">Home</a>
                  <ul class="dp-menu col-2">
                    <li><a href="digital-agency.html">Digital Agency</a></li>
                    <li><a href="creative-agency.html">Creative Agency</a></li>
                    <li><a href="marketing-agency.html">Marketing Agency</a></li>
                    <li><a href="design-agency.html">Design Agency</a></li>
                    <li><a href="startup-agency.html">Startup Agency</a></li>
                    <li><a href="modern-agency.html">Modern Agency</a></li>
                    <li><a href="agency-portfolio.html">Agency Portfolio</a></li>
                    <li><a href="portfolio-horizontal.html">Portfolio Horizontal</a></li>
                    <li><a href="portfolio-line-effect.html">Portfolio Line Effect</a></li>
                    <li><a href="portfolio-box-effect.html">Portfolio Box Effect</a></li>
                    <li><a href="portfolio-vertical.html">Portfolio Vertical</a></li>
                    <li><a href="portfolio-slicer.html">Portfolio Slicer</a></li>
                    <li><a href="parallax-carousal.html">Parallax Carousal</a></li>
                    <li><a href="portfolio-showcase.html">Portfolio Showcase</a></li>
                  </ul>
                </li>
                <li><a href="about.html">About Us</a></li>
                <li class="menu-item-has-children">
                  <a href="#">Service</a>
                  <ul class="dp-menu">
                    <li><a href="services.html">Core Services</a></li>
                    <li><a href="services-2.html">Services ST. Pulse</a></li>
                    <li><a href="services-3.html">Services ST. Morph</a></li>
                    <li><a href="services-4.html">Services ST. Nova</a></li>
                    <li><a href="services-5.html">Services ST. Zenith</a></li>
                    <li><a href="services-6.html">Services ST. Prism</a></li>
                    <li><a href="service-details.html">Service Details</a></li>
                  </ul>
                </li>
                <li class="menu-item-has-children">
                  <a href="#">Blog</a>
                  <ul class="dp-menu">
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="blog-details.html">Blog Details</a></li>
                  </ul>
                </li>
                <li class="menu-item-has-children">
                  <a href="#">Pages</a>
                  <ul class="dp-menu">
                    <li><a href="portfolio.html">Core Portfolio</a></li>
                    <li><a href="portfolio-2.html">Portfolio ST. Classic</a></li>
                    <li><a href="portfolio-3.html">Portfolio ST. Minimal</a></li>
                    <li><a href="portfolio-4.html">Portfolio ST. Modern</a></li>
                    <li><a href="portfolio-5.html">Portfolio ST. Interactive</a></li>
                    <li><a href="portfolio-6.html">Portfolio ST. Metro</a></li>
                    <li><a href="portfolio-details.html">Portfolio Details</a></li>
                    <li><a href="team.html">Team</a></li>
                    <li><a href="team-details.html">Team Details</a></li>
                    <li><a href="faq.html">FAQ Page</a></li>
                    <li><a href="404.html">404 Page</a></li>
                  </ul>
                </li>
                <li><a href="contact.html">Contact</a></li>
              </ul>
            </nav>
          </div>
          <div class="header__button">
            <a href="contact.html" class="rr-btn">
              <span class="btn-wrap">
                <span class="text-one">Let's Talk</span>
                <span class="text-two">Let's Talk</span>
              </span>
            </a>
          </div>
          <div class="header__navicon">
            <button class="side-toggle"><img src="assets/imgs/icon/icon-2.webp" alt="image"></button>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- Header area end -->

  <div class="has-smooth" id="has_smooth"></div>
  <div id="smooth-wrapper">
    <div id="smooth-content">

      <main>

        <!-- page title area start  -->
        <section class="page-title-area">
          <div class="container large">
            <div class="page-title-area-inner section-spacing-top">
              <div class="page-title-wrapper">
                <h2 class="page-title fade-anim">Since 2012</h2>
              </div>
            </div>
          </div>
        </section>
        <!-- page title area end  -->

        <!-- about area start  -->
        <section class="about-area-details">
          <div class="container large">
            <div class="about-area-details-inner">
              <div class="section-header fade-anim">
                <div class="section-title-wrapper">
                  <div class="subtitle-wrapper">
                    <span class="section-subtitle">About studio</span>
                  </div>
                  <div class="title-wrapper">
                    <h2 class="section-title font-sequelsans-romanbody">Crafting digital products
                      with a unique — vision of
                      making user experience
                      better.</h2>
                  </div>
                </div>
              </div>
              <div class="section-content-wrapper fade-anim">
                <div class="info-list">
                  <ul>
                    <li>Art Direction</li>
                    <li>Capability</li>
                    <li>Sustainability </li>
                  </ul>
                </div>
                <div class="section-content">
                  <div class="text-wrapper" data-direction="right">
                    <p class="text">Redox is the first and only creative agency for your real exploration. It’s one
                      private place to save everything you can realize about digital beautifully design.</p>
                    <p class="text">As a global creative agency, we understand the importance of staying ahead of the
                      game. That’s why we partner with some of the world's best talent to bring fresh ideas</p>
                  </div>
                  <div class="btn-wrapper" data-direction="right">
                    <a href="about.html" class="rr-btn">
                      <span class="btn-wrap">
                        <span class="text-one">Explore Services</span>
                        <span class="text-two">Explore Services</span>
                      </span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="moving-gallery fade-anim">
            <ul class="wrapper-gallery">
              <li>
                <img src="assets/imgs/gallery/image-19.webp" alt="image">
              </li>
              <li>
                <img src="assets/imgs/gallery/image-20.webp" alt="image">
              </li>
              <li>
                <img src="assets/imgs/gallery/image-21.webp" alt="image">
              </li>
              <li>
                <img src="assets/imgs/gallery/image-22.webp" alt="image">
              </li>
              <li>
                <img src="assets/imgs/gallery/image-19.webp" alt="image">
              </li>
            </ul>
          </div>
        </section>
        <!-- about area end  -->

        <!-- approach area start  -->
        <section class="approach-area-about-page">
          <div class="container large">
            <div class="approach-area-about-page-inner section-spacing">
              <div class="section-header fade-anim">
                <div class="section-title-wrapper">
                  <div class="subtitle-wrapper">
                    <span class="section-subtitle">Approach</span>
                  </div>
                  <div class="title-wrapper">
                    <h2 class="section-title font-sequelsans-romanbody">Method of making
                      better result</h2>
                  </div>
                </div>
              </div>
              <div class="approach-wrapper-box">
                <div class="approach-wrapper fade-anim">
                  <div class="approach-box">
                    <h2 class="title">Problem <br>
                      discovery <img src="assets/imgs/shape/shape-13.webp" alt="image"></h2>
                    <div class="approach-list">
                      <ul>
                        <li>Usability Studies</li>
                        <li>User Interviews</li>
                        <li>Stakeholder Interviews</li>
                        <li>Competitive Research</li>
                        <li>Insights Report</li>
                        <li>User Journey</li>
                      </ul>
                    </div>
                  </div>
                  <div class="approach-box">
                    <h2 class="title">Design <br>
                      system ready <img src="assets/imgs/shape/shape-13.webp" alt="image"></h2>
                    <div class="approach-list">
                      <ul>
                        <li>Thinking Workshops</li>
                        <li>Sitemaps</li>
                        <li>Concepts</li>
                        <li>Designs</li>
                        <li>Prototypes</li>
                        <li>Usability Studies</li>
                      </ul>
                    </div>
                  </div>
                  <div class="approach-box">
                    <h2 class="title">Design <br>
                      implementation </h2>
                    <div class="approach-list">
                      <ul>
                        <li>Design</li>
                        <li>Use Cases</li>
                        <li>User Flows</li>
                        <li>Various User Types</li>
                        <li>Annotations</li>
                        <li>Interactions</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- approach area end  -->

        <!-- info area start  -->
        <section class="info-area-page-about">
          <div class="container large">
            <div class="info-area-page-about-inner section-spacing-top">

              <div class="section-header fade-anim">
                <div class="section-title-wrapper">
                  <div class="subtitle-wrapper">
                    <span class="section-subtitle">Who are we?</span>
                  </div>
                  <div class="title-wrapper">
                    <h2 class="section-title font-sequelsans-romanbody">We deliver creative
                      ideas to a crowded world.</h2>
                  </div>
                </div>
              </div>
              <div class="counter-wrapper-box fade-anim">
                <div class="counter-wrapper">
                  <div class="funfact-item">
                    <p class="text">35+ Google reviews</p>
                    <h3 class="number t-counter">4.9</h3>
                  </div>
                  <div class="funfact-item">
                    <p class="text">Clients world-wide</p>
                    <h3 class="number t-counter">170+</h3>
                  </div>
                  <div class="funfact-item">
                    <p class="text">Completed projects</p>
                    <h3 class="number t-counter">1.7k</h3>
                  </div>
                  <div class="funfact-item">
                    <p class="text">Client satisfaction</p>
                    <h3 class="number t-counter">95%</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- info area end  -->

        <!-- client area start  -->
        <div class="client-area-page-about">
          <div class="client-area-page-about-inner section-spacing">
            <div class="container large">
              <div class="section-header fade-anim">
                <div class="text-wrapper">
                  <p class="text">Help to brands growing up and show
                    their success stories to the world</p>
                </div>
              </div>
            </div>
            <div class="clients-wrapper-box fade-anim">
              <div class="clients-wrapper">
                <div class="swiper client-slider-active">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <div class="client-box">
                        <img src="assets/imgs/client/client-1.webp" alt="image">
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="client-box">
                        <img src="assets/imgs/client/client-2.webp" alt="image">
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="client-box">
                        <img src="assets/imgs/client/client-3.webp" alt="image">
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="client-box">
                        <img src="assets/imgs/client/client-4.webp" alt="image">
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="client-box">
                        <img src="assets/imgs/client/client-5.webp" alt="image">
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="client-box">
                        <img src="assets/imgs/client/client-6.webp" alt="image">
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="client-box">
                        <img src="assets/imgs/client/client-7.webp" alt="image">
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="client-box">
                        <img src="assets/imgs/client/client-8.webp" alt="image">
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="client-box">
                        <img src="assets/imgs/client/client-1.webp" alt="image">
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="client-box">
                        <img src="assets/imgs/client/client-2.webp" alt="image">
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="client-box">
                        <img src="assets/imgs/client/client-3.webp" alt="image">
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="client-box">
                        <img src="assets/imgs/client/client-4.webp" alt="image">
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="client-box">
                        <img src="assets/imgs/client/client-5.webp" alt="image">
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="client-box">
                        <img src="assets/imgs/client/client-6.webp" alt="image">
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="client-box">
                        <img src="assets/imgs/client/client-7.webp" alt="image">
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="client-box">
                        <img src="assets/imgs/client/client-8.webp" alt="image">
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
        <!-- client area end  -->

        <!-- media area start  -->
        <section class="media-area-page-about">
          <div class="container large">
            <div class="media-area-page-about-inner">
              <div class="section-content-wrapper fade-anim">
                <div class="area-thumb parallax-view">
                  <img src="assets/imgs/gallery/image-23.webp" alt="image" data-speed="0.8">
                </div>
                <div class="section-content">
                  <div class="section-title-wrapper">
                    <div class="title-wrapper">
                      <h2 class="section-title font-sequelsans-romanbody">Collaborate with a super
                        down-to-earth, mad-talented team</h2>
                    </div>
                  </div>
                  <div class="text-wrapper">
                    <p class="text">A collective bunch working on incredible projects and building enduring
                      partnerships that extend well beyond the deliverable.</p>
                  </div>
                  <div class="btn-wrapper">
                    <a href="contact.html" class="rr-btn">
                      <span class="btn-wrap">
                        <span class="text-one">Learn More</span>
                        <span class="text-two">Learn More</span>
                      </span>
                    </a>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </section>
        <!-- media area end  -->

        <!-- award area start  -->
        <section class="award-area-page-about">
          <div class="container large">
            <div class="award-area-page-about-inner section-spacing">
              <div class="section-header fade-anim">
                <div class="section-title-wrapper">
                  <div class="subtitle-wrapper">
                    <span class="section-subtitle">Awards</span>
                  </div>
                  <div class="title-wrapper" data-direction="left">
                    <h2 class="section-title font-sequelsans-romanbody">We believe in quality, not
                      quantity, that’s why we’re
                      great ever.</h2>
                  </div>
                </div>
              </div>
              <div class="awards-wrapper-box fade-anim">
                <div class="awards-wrapper">
                  <div class="award-box">
                    <div class="category">Awwwards</div>
                    <ul class="award-list">
                      <li>7x Honorable Mention<span>2014</span></li>
                      <li>4x Site of the Day<span>2016</span></li>
                      <li>2x Developer Awards<span>2016</span></li>
                      <li>1x Site of the Year<span>2019</span></li>
                      <li>1x Design of the Year<span>2025</span></li>
                    </ul>
                  </div>
                  <div class="award-box">
                    <div class="category">CSS Design</div>
                    <ul class="award-list">
                      <li>2x Website of the Day<span>2014</span></li>
                      <li>1x Best Innovation<span>2016</span></li>
                      <li>5x UX Design<span>2016</span></li>
                      <li>6x Creative Design<span>2019</span></li>
                    </ul>
                  </div>
                  <div class="award-box">
                    <div class="category">Dribbble</div>
                    <ul class="award-list">
                      <li>2x Design of the Day<span>2014</span></li>
                      <li>2x Site of the Day<span>2016</span></li>
                    </ul>
                  </div>
                  <div class="award-box">
                    <div class="category">Behance</div>
                    <ul class="award-list">
                      <li>5x Featured Design<span>2025</span></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- award area end  -->

        <!-- team area start  -->
        <section class="team-area-about-page">
          <div class="container large">
            <div class="team-area-about-page-inner section-spacing-top">
              <div class="section-header fade-anim">
                <div class="section-title-wrapper">
                  <div class="subtitle-wrapper">
                    <span class="section-subtitle">Team</span>
                  </div>
                  <div class="title-wrapper">
                    <h2 class="section-title font-sequelsans-romanbody">Meet the talented
                      squad, behind the
                      creativity</h2>
                  </div>
                </div>
              </div>
              <div class="team-wrapper-box fade-anim">
                <div class="team-wrapper">
                  <div class="team-box">
                    <div class="thumb">
                      <a href="team-details.html"><img src="assets/imgs/team/team-1.webp" alt="image"></a>
                    </div>
                    <div class="content">
                      <h3 class="name"><a href="team-details.html">James David</a></h3>
                      <span class="post">CEO & Founder</span>
                    </div>
                  </div>
                  <div class="team-box">
                    <div class="thumb">
                      <a href="team-details.html"><img src="assets/imgs/team/team-2.webp" alt="image"></a>
                    </div>
                    <div class="content">
                      <h3 class="name"><a href="team-details.html">Brenda C. Janet</a></h3>
                      <span class="post">Lead Developer</span>
                    </div>
                  </div>
                  <div class="team-box">
                    <div class="thumb">
                      <a href="team-details.html"><img src="assets/imgs/team/team-3.webp" alt="image"></a>
                    </div>
                    <div class="content">
                      <h3 class="name"><a href="team-details.html">Martin Carlos</a></h3>
                      <span class="post">Lead Designer</span>
                    </div>
                  </div>
                  <div class="team-box">
                    <div class="thumb">
                      <a href="team-details.html"><img src="assets/imgs/team/team-4.webp" alt="image"></a>
                    </div>
                    <div class="content">
                      <h3 class="name"><a href="team-details.html">Garry J. Coburn</a></h3>
                      <span class="post">Project Manager</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- team area end  -->

        <!-- team list area start  -->
        <div class="team-list-area">
          <div class="container large">
            <div class="team-list-area-inner">
              <div class="team-wrapper-box fade-anim">
                <div class="team-wrapper">
                  <div class="team-box">
                    <div class="thumb">
                      <a href="team-details.html"><img src="assets/imgs/team/team-5.webp" alt="image"></a>
                    </div>
                    <div class="content">
                      <h3 class="name"><a href="team-details.html">Ana Dina Belić</a></h3>
                    </div>
                    <span class="post">Graphic Designer</span>
                    <a href="team-details.html" class="t-btn t-btn-normal"><img src="assets/imgs/icon/icon-5.webp"
                        alt="image"></a>
                  </div>
                  <div class="team-box">
                    <div class="thumb">
                      <a href="team-details.html"><img src="assets/imgs/team/team-6.webp" alt="image"></a>
                    </div>
                    <div class="content">
                      <h3 class="name"><a href="team-details.html">Giuseppe Carbonara</a></h3>
                    </div>
                    <span class="post">Brand Strategist</span>
                    <a href="team-details.html" class="t-btn t-btn-normal"><img src="assets/imgs/icon/icon-5.webp"
                        alt="image"></a>
                  </div>
                  <div class="team-box">
                    <div class="thumb">
                      <a href="team-details.html"><img src="assets/imgs/team/team-7.webp" alt="image"></a>
                    </div>
                    <div class="content">
                      <h3 class="name"><a href="team-details.html">Vedran Starčić</a></h3>
                    </div>
                    <span class="post">Jr. Designer</span>
                    <a href="team-details.html" class="t-btn t-btn-normal"><img src="assets/imgs/icon/icon-5.webp"
                        alt="image"></a>
                  </div>
                  <div class="team-box">
                    <div class="thumb">
                      <a href="team-details.html"><img src="assets/imgs/team/team-8.webp" alt="image"></a>
                    </div>
                    <div class="content">
                      <h3 class="name"><a href="team-details.html">Izquierdo Bayà</a></h3>
                    </div>
                    <span class="post">Creative Writer </span>
                    <a href="team-details.html" class="t-btn t-btn-normal"><img src="assets/imgs/icon/icon-5.webp"
                        alt="image"></a>
                  </div>
                  <div class="team-box">
                    <div class="thumb">
                      <a href="team-details.html"><img src="assets/imgs/team/team-9.webp" alt="image"></a>
                    </div>
                    <div class="content">
                      <h3 class="name"><a href="team-details.html">Jared Silverman</a></h3>
                    </div>
                    <span class="post">Motion Designer</span>
                    <a href="team-details.html" class="t-btn t-btn-normal"><img src="assets/imgs/icon/icon-5.webp"
                        alt="image"></a>
                  </div>
                  <div class="team-box">
                    <div class="thumb">
                      <a href="team-details.html"><img src="assets/imgs/team/team-10.webp" alt="image"></a>
                    </div>
                    <div class="content">
                      <h3 class="name"><a href="team-details.html">Samuel Bertain</a></h3>
                    </div>
                    <span class="post">WordPress Developer</span>
                    <a href="team-details.html" class="t-btn t-btn-normal"><img src="assets/imgs/icon/icon-5.webp"
                        alt="image"></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- team list area end  -->

      </main>

      <!-- footer area start  -->
      <footer class="footer-area-inner-page section-spacing-top">
        <div class="container large">
          <div class="footer-top-inner">
            <div class="footer-logo">
              <a href="index.html"><img src="assets/imgs/logo/logo-2.png" alt="site-logo"></a>
            </div>
            <div class="info-text">
              <div class="text-wrapper">
                <p class="text">Redox is a startup digital agency of design, development and marketing that works
                  friendly with global client</p>
              </div>
              <div class="info-link">
                <a href="mailto:info@Redox.com">info@Redox.com</a>
              </div>
            </div>
          </div>
          <div class="footer-widget-wrapper-box">
            <div class="footer-widget-wrapper">
              <div class="footer-widget-box newsletter">
                <form action="#" class="subscribe-form">
                  <div class="input-field">
                    <input type="email" placeholder="Enter your email">
                    <button type="submit" class="subscribe-btn"><img src="assets/imgs/icon/icon-1.webp"
                        alt="image"></button>
                  </div>
                </form>
                <div class="subscription-text">
                  <div class="text-wrapper">
                    <p class="text">By subscribing you agree with our
                      <a href="#">Privacy Policy</a>
                    </p>
                  </div>
                </div>
              </div>
              <div class="footer-widget-box">
                <h2 class="title">Company</h2>
                <ul class="footer-nav-list">
                  <li><a href="#">agency</a></li>
                  <li><a href="#">Solutions</a></li>
                  <li><a href="#">Community</a></li>
                  <li><a href="#">Work</a></li>
                  <li><a href="#">Contact</a></li>
                </ul>
              </div>
              <div class="footer-widget-box">
                <h2 class="title">Social</h2>
                <ul class="footer-nav-list">
                  <li><a href="#">Facebook</a></li>
                  <li><a href="#">Twitter</a></li>
                  <li><a href="#">Dribbble</a></li>
                  <li><a href="#">Instagram</a></li>
                  <li><a href="#">Awwwards</a></li>
                  <li><a href="#">YouTube</a></li>
                </ul>
              </div>
              <div class="footer-widget-box">
                <h2 class="title">Office</h2>
                <ul class="footer-nav-list">
                  <li><a href="#">New York</a></li>
                  <li><a href="#">Toronto</a></li>
                  <li><a href="#">Berlin</a></li>
                  <li><a href="#">London</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="copyright-area">
          <div class="copyright-area-inner">
            <div class="copyright-text">
              <p class="text">© 2025 <a href="https://themeforest.net/user/ravextheme">RavexTheme.</a> All right
                reserved</p>
            </div>
          </div>
        </div>
      </footer>
      <!-- footer area end  -->

    </div>
  </div>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/jquery-3.7.1.min.js"></script>
  <script src="assets/vendor/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/jquery.magnific-popup.min.js"></script>
  <script src="assets/vendor/swiper-bundle.min.js"></script>
  <script src="assets/vendor/gsap.min.js"></script>
  <script src="assets/vendor/ScrollTrigger.min.js"></script>
  <script src="assets/vendor/ScrollSmoother.min.js"></script>
  <script src="assets/vendor/ScrollToPlugin.min.js"></script>
  <script src="assets/vendor/SplitText.min.js"></script>
  <script src="assets/vendor/TextPlugin.js"></script>
  <script src="assets/vendor/customEase.js"></script>
  <script src="assets/vendor/Flip.min.js"></script>
  <script src="assets/vendor/jquery.meanmenu.min.js"></script>
  <script src="assets/vendor/backToTop.js"></script>
  <script src="assets/vendor/matter.js"></script>
  <script src="assets/vendor/throwable.js"></script>
  <script src="assets/js/magiccursor.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>