<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Redox HTML Template">

    <title>Redox - Creative Agency and Portfolio HTML Template</title>

    <!-- Fav Icon -->
    <link rel="icon" type="image/x-icon" href="assets/imgs/logo/favicon.png">

    <!-- Vendor CSS Files -->
    <link rel="stylesheet" href="assets/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="assets/vendor/fontawesome.min.css">
    <link rel="stylesheet" href="assets/vendor/swiper-bundle.min.css">
    <link rel="stylesheet" href="assets/vendor/meanmenu.min.css">
    <link rel="stylesheet" href="assets/vendor/magnific-popup.css">
    <link rel="stylesheet" href="assets/vendor/animate.min.css">

    <!-- Template Main CSS File -->
    <link rel="stylesheet" href="assets/css/style.css">

</head>

<body class="body-wrapper body-portfolio-agency font-heading-bdogrotesk-regular">

    <!-- Preloader -->
    <div id="preloader">
        <div id="container" class="container-preloader">
            <div class="animation-preloader">
                <div class="spinner"></div>

            </div>
            <div class="loader-section section-left"></div>
            <div class="loader-section section-right"></div>
        </div>
    </div>

    <!-- Sroll to top -->
    <div class="progress-wrap">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"></path>
        </svg>
    </div>

    <!-- side toggle start -->
    <aside class="fix">
        <div class="side-info">
            <div class="side-info-content">
                <div class="offset-widget offset-header">
                    <div class="offset-logo">
                        <a href="index.html">
                            <img src="assets/imgs/logo/logo-2.png" alt="site logo">
                        </a>
                    </div>
                    <button id="side-info-close" class="side-info-close">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
                <div class="mobile-menu fix"></div>
                <div class="offset-widget-box">
                    <h2 class="title">Contact US</h2>
                    <div class="contact-meta">
                        <div class="contact-item">
                            <span class="icon"><i class="fa-solid fa-location-dot"></i></span>
                            <span class="text">3891 Ranchview Dr. Richardson</span>
                        </div>
                        <div class="contact-item">
                            <span class="icon"><i class="fa-solid fa-envelope"></i></span>
                            <span class="text"><a href="mailto:hello@redoxagency.com">hello@redoxagency.com</a></span>
                        </div>
                        <div class="contact-item">
                            <span class="icon"><i class="fa-solid fa-phone"></i></span>
                            <span class="text"><a href="tel:(505)555-0125">(505) 555-0125</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </aside>
    <div class="offcanvas-overlay"></div>
    <!-- side toggle end -->

    <!-- Header area start -->
    <header class="header-area-6">
        <div class="header-main">
            <div class="container large">
                <div class="header-area-6__inner">
                    <div class="header__logo">
                        <a href="index.html">
                            <img src="assets/imgs/logo/logo-2.png" class="normal-logo" alt="Site Logo">
                        </a>
                    </div>
                    <div class="header__middel">
                        <p>Redox provides user centered <br>
                            Ui and brand identities design <br>
                            [since 2012]</p>
                    </div>
                    <div class="header__navicon">
                        <button class="side-toggle">(Browse — Menu)</button>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header area end -->

    <nav class="main-menu-all d-none">
        <ul>
            <li class="menu-item-has-children">
                <a href="#">Home</a>
                <ul class="dp-menu col-2">
                    <li><a href="digital-agency.html">Digital Agency</a></li>
                    <li><a href="creative-agency.html">Creative Agency</a></li>
                    <li><a href="marketing-agency.html">Marketing Agency</a></li>
                    <li><a href="design-agency.html">Design Agency</a></li>
                    <li><a href="startup-agency.html">Startup Agency</a></li>
                    <li><a href="modern-agency.html">Modern Agency</a></li>
                    <li><a href="agency-portfolio.html">Agency Portfolio</a></li>
                    <li><a href="portfolio-horizontal.html">Portfolio Horizontal</a></li>
                    <li><a href="portfolio-line-effect.html">Portfolio Line Effect</a></li>
                    <li><a href="portfolio-box-effect.html">Portfolio Box Effect</a></li>
                    <li><a href="portfolio-vertical.html">Portfolio Vertical</a></li>
                    <li><a href="portfolio-slicer.html">Portfolio Slicer</a></li>
                    <li><a href="parallax-carousal.html">Parallax Carousal</a></li>
                    <li><a href="portfolio-showcase.html">Portfolio Showcase</a></li>
                </ul>
            </li>
            <li><a href="about.html">About Us</a></li>
            <li class="menu-item-has-children">
                <a href="#">Service</a>
                <ul class="dp-menu">
                    <li><a href="services.html">Core Services</a></li>
                    <li><a href="services-2.html">Services ST. Pulse</a></li>
                    <li><a href="services-3.html">Services ST. Morph</a></li>
                    <li><a href="services-4.html">Services ST. Nova</a></li>
                    <li><a href="services-5.html">Services ST. Zenith</a></li>
                    <li><a href="services-6.html">Services ST. Prism</a></li>
                    <li><a href="service-details.html">Service Details</a></li>
                </ul>
            </li>
            <li class="menu-item-has-children">
                <a href="#">Blog</a>
                <ul class="dp-menu">
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="blog-details.html">Blog Details</a></li>
                </ul>
            </li>
            <li class="menu-item-has-children">
                <a href="#">Pages</a>
                <ul class="dp-menu">
                    <li><a href="portfolio.html">Core Portfolio</a></li>
                    <li><a href="portfolio-2.html">Portfolio ST. Classic</a></li>
                    <li><a href="portfolio-3.html">Portfolio ST. Minimal</a></li>
                    <li><a href="portfolio-4.html">Portfolio ST. Modern</a></li>
                    <li><a href="portfolio-5.html">Portfolio ST. Interactive</a></li>
                    <li><a href="portfolio-6.html">Portfolio ST. Metro</a></li>
                    <li><a href="portfolio-details.html">Portfolio Details</a></li>
                    <li><a href="team.html">Team</a></li>
                    <li><a href="team-details.html">Team Details</a></li>
                    <li><a href="faq.html">FAQ Page</a></li>
                    <li><a href="404.html">404 Page</a></li>
                </ul>
            </li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
    </nav>

    <div class="has-smooth" id="has_smooth"></div>
    <div id="smooth-wrapper">
        <div id="smooth-content">

            <main>

                <!-- hero area start  -->
                <section class="hero-area-6">
                    <div class="container large">
                        <div class="hero-area-6-wrapper">
                            <div class="hero-area-6-wrapper__line">
                                <div class="contentt"></div>
                                <div class="hero-area-6-inner">
                                    <div class="section-content-wrapper">
                                        <div class="section-content">
                                            <div class="section-title-wrapper">
                                                <div class="title-wrapper">
                                                    <h1 class="section-title">
                                                        <span class="line">Art</span>
                                                        <span class="line">Direction</span>

                                                        <span class="line"><span class="plus">+</span>
                                                            <span>Design</span>
                                                        </span>
                                                    </h1>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="hero-video-wrapper">
                                            <div class="hero-video">
                                                <video class="title-video" loop muted autoplay playsinline>
                                                    <source src="https://rrdevs.net/project-video/xfire.webm"
                                                        type="video/mp4">
                                                </video>
                                            </div>
                                            <p class="text">Redox is the first and only branding studio for your
                                                real exploration. You can realize digital beautifully designed.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- hero area end  -->

                <!-- work area start  -->
                <section class="work-area-6">
                    <div class="container large">
                        <div class="work-area-6-inner">
                            <div class="works-wrapper-box">
                                <div class="works-wrapper-6">
                                    <div class="work-box fade-anim">
                                        <div class="thumb">
                                            <div class="image scale" data-cursor-text="View Details"
                                                data-cursor-text-red>
                                                <a href="portfolio-details.html"><img
                                                        src="assets/imgs/project/image-46.webp" alt="image"></a>
                                            </div>
                                        </div>
                                        <div class="content">
                                            <h3 class="title"><a href="portfolio-details.html">Redox Digital Agency HTML
                                                    Template</a></h3>
                                            <div class="meta">
                                                <span class="tag">WordPress, Themeforest</span>
                                                <span class="date">(2025)</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="work-box fade-anim">
                                        <div class="thumb">
                                            <div class="image scale" data-cursor-text="View Details"
                                                data-cursor-text-red>
                                                <a href="portfolio-details.html"><img
                                                        src="assets/imgs/project/image-36.webp" alt="image"></a>
                                            </div>
                                        </div>
                                        <div class="content">
                                            <h3 class="title"><a href="portfolio-details.html">Al Khobar Uptown</a></h3>
                                            <div class="meta">
                                                <span class="tag">Visual Identity, Branding</span>
                                                <span class="date">(2021)</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="work-box fade-anim">
                                        <div class="thumb">
                                            <div class="image scale" data-cursor-text="View Details"
                                                data-cursor-text-red>
                                                <a href="portfolio-details.html"><img
                                                        src="assets/imgs/project/image-34.webp" alt="image"></a>
                                            </div>
                                        </div>
                                        <div class="content">
                                            <h3 class="title"><a href="portfolio-details.html">Save Me Saudia</a></h3>
                                            <div class="meta">
                                                <span class="tag">Communication, Social Media</span>
                                                <span class="date">(2020)</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="work-box fade-anim">
                                        <div class="thumb">
                                            <div class="image scale" data-cursor-text="View Details"
                                                data-cursor-text-red>
                                                <a href="portfolio-details.html"><img
                                                        src="assets/imgs/project/image-31.webp" alt="image"></a>
                                            </div>
                                        </div>
                                        <div class="content">
                                            <h3 class="title"><a href="portfolio-details.html">Lambax Nanak</a></h3>
                                            <div class="meta">
                                                <span class="tag">Strategy, Visual Identity, Re-branding</span>
                                                <span class="date">(2022)</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="work-box fade-anim">
                                        <div class="thumb">
                                            <div class="image scale" data-cursor-text="View Details"
                                                data-cursor-text-red>
                                                <a href="portfolio-details.html"><img
                                                        src="assets/imgs/project/image-37.webp" alt="image"></a>
                                            </div>
                                        </div>
                                        <div class="content">
                                            <h3 class="title"><a href="portfolio-details.html">Redox Digital Agency HTML
                                                    Template</a></h3>
                                            <div class="meta">
                                                <span class="tag">WordPress, Themeforest</span>
                                                <span class="date">(2025)</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="work-box fade-anim">
                                        <div class="thumb">
                                            <div class="image scale" data-cursor-text="View Details"
                                                data-cursor-text-red>
                                                <a href="portfolio-details.html"><img
                                                        src="assets/imgs/project/image-38.webp" alt="image"></a>
                                            </div>
                                        </div>
                                        <div class="content">
                                            <h3 class="title"><a href="portfolio-details.html">Dramatic Natok</a></h3>
                                            <div class="meta">
                                                <span class="tag">Communication, Campaign</span>
                                                <span class="date">(2022)</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="work-box fade-anim">
                                        <div class="thumb">
                                            <div class="image scale" data-cursor-text="View Details"
                                                data-cursor-text-red>
                                                <a href="portfolio-details.html"><img
                                                        src="assets/imgs/project/image-39.webp" alt="image"></a>
                                            </div>
                                        </div>
                                        <div class="content">
                                            <h3 class="title"><a href="portfolio-details.html">Keshtech Ventures</a>
                                            </h3>
                                            <div class="meta">
                                                <span class="tag">Visual Identity, Branding</span>
                                                <span class="date">(2020)</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="work-box fade-anim">
                                        <div class="thumb">
                                            <div class="image scale" data-cursor-text="View Details"
                                                data-cursor-text-red>
                                                <a href="portfolio-details.html"><img
                                                        src="assets/imgs/project/image-40.webp" alt="image"></a>
                                            </div>
                                        </div>
                                        <div class="content">
                                            <h3 class="title"><a href="portfolio-details.html">Pick and Jeep</a></h3>
                                            <div class="meta">
                                                <span class="tag">Visual Identity, Re-branding, Packaging</span>
                                                <span class="date">(2021)</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="work-box fade-anim">
                                        <div class="thumb">
                                            <div class="image scale" data-cursor-text="View Details"
                                                data-cursor-text-red>
                                                <a href="portfolio-details.html"><img
                                                        src="assets/imgs/project/image-41.webp" alt="image"></a>
                                            </div>
                                        </div>
                                        <div class="content">
                                            <h3 class="title"><a href="portfolio-details.html">Back to Macho School</a>
                                            </h3>
                                            <div class="meta">
                                                <span class="tag">Communication, Campaign , Social Media</span>
                                                <span class="date">(2019)</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="work-box fade-anim">
                                        <div class="thumb">
                                            <div class="image scale" data-cursor-text="View Details"
                                                data-cursor-text-red>
                                                <a href="portfolio-details.html"><img
                                                        src="assets/imgs/project/image-42.webp" alt="image"></a>
                                            </div>
                                        </div>
                                        <div class="content">
                                            <h3 class="title"><a href="portfolio-details.html">Cultural Talents</a></h3>
                                            <div class="meta">
                                                <span class="tag">Communication, Campaign</span>
                                                <span class="date">(2022)</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="work-box fade-anim">
                                        <div class="thumb">
                                            <div class="image scale" data-cursor-text="View Details"
                                                data-cursor-text-red>
                                                <a href="portfolio-details.html"><img
                                                        src="assets/imgs/project/image-43.webp" alt="image"></a>
                                            </div>
                                        </div>
                                        <div class="content">
                                            <h3 class="title"><a href="portfolio-details.html">Redox Digital Agency HTML
                                                    Template</a></h3>
                                            <div class="meta">
                                                <span class="tag">WordPress, Themeforest</span>
                                                <span class="date">(2025)</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="work-box fade-anim">
                                        <div class="thumb">
                                            <div class="image scale" data-cursor-text="View Details"
                                                data-cursor-text-red>
                                                <a href="portfolio-details.html"><img
                                                        src="assets/imgs/project/image-44.webp" alt="image"></a>
                                            </div>
                                        </div>
                                        <div class="content">
                                            <h3 class="title"><a href="portfolio-details.html">Dramatic Natok</a></h3>
                                            <div class="meta">
                                                <span class="tag">Communication, Campaign</span>
                                                <span class="date">(2022)</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="work-box fade-anim">
                                        <div class="thumb">
                                            <div class="image scale" data-cursor-text="View Details"
                                                data-cursor-text-red>
                                                <a href="portfolio-details.html"><img
                                                        src="assets/imgs/project/image-45.webp" alt="image"></a>
                                            </div>
                                        </div>
                                        <div class="content">
                                            <h3 class="title"><a href="portfolio-details.html">Keshtech Ventures</a>
                                            </h3>
                                            <div class="meta">
                                                <span class="tag">Visual Identity, Branding</span>
                                                <span class="date">(2020)</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- work area end  -->

            </main>

            <!-- footer area start  -->
            <footer class="footer-area-6">
                <div class="footer-area-6-inner">
                    <div class="container large">
                        <div class="footer-widget-wrapper">
                            <div class="footer-widget__media">
                                <img src="assets/imgs/shape/logo-6.svg" alt="shape-20">
                            </div>
                            <div class="footer-widget__content">
                                <h2 class="footer-widget-title">Redox® — A design and brand studio, based in Canada.
                                </h2>
                                <div class="footer-widget__content-wrapper">
                                    <div class="footer-widget__content-item">
                                        <span>(01) Who we are</span>
                                        <p class="description">We help brands and company in digital solution. As a
                                            cause-led digital
                                            marketing and brand agency.</p>
                                    </div>
                                    <div class="footer-widget__content-item">
                                        <span>(02) Services</span>
                                        <ul class="footer-widget-nav-list">
                                            <li><a href="contact.html">Art Direction</a></li>
                                            <li><a href="contact.html">Web Design</a></li>
                                            <li><a href="contact.html">Web Development</a></li>
                                            <li><a href="contact.html">Brand Identity</a></li>
                                            <li><a href="contact.html">Motion Design</a></li>
                                            <li><a href="contact.html">3D Design</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="copyright-area">
                        <div class="container large">
                            <div class="copyright-area-inner">
                                <ul class="copyright-socail-list">
                                    <li><a href="contact.html">Dribbble</a></li>
                                    <li><a href="contact.html">Behance</a></li>
                                    <li><a href="contact.html">Facebook</a></li>
                                    <li><a href="contact.html">LinkedIn</a></li>
                                </ul>
                                <div class="copyright-text">
                                    <p class="text">© 2019 - 2025 <br>
                                        All rights reserved by <a
                                            href="https://themeforest.net/user/ravextheme">RavexTheme</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- footer area end  -->
        </div>
    </div>

    <!-- Vendor JS Files -->
    <script src="assets/vendor/jquery-3.7.1.min.js"></script>
    <script src="assets/vendor/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/jquery.magnific-popup.min.js"></script>
    <script src="assets/vendor/swiper-bundle.min.js"></script>
    <script src="assets/vendor/gsap.min.js"></script>
    <script src="assets/vendor/ScrollTrigger.min.js"></script>
    <script src="assets/vendor/ScrollSmoother.min.js"></script>
    <script src="assets/vendor/ScrollToPlugin.min.js"></script>
    <script src="assets/vendor/SplitText.min.js"></script>
    <script src="assets/vendor/TextPlugin.js"></script>
    <script src="assets/vendor/customEase.js"></script>
    <script src="assets/vendor/Flip.min.js"></script>
    <script src="assets/vendor/jquery.meanmenu.min.js"></script>
    <script src="assets/vendor/backToTop.js"></script>
    <script src="assets/vendor/matter.js"></script>
    <script src="assets/vendor/throwable.js"></script>
    <script src="assets/js/magiccursor.js"></script>

    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>

</body>

</html>