<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Redox HTML Template">

  <title>Redox - Creative Agency and Portfolio HTML Template</title>

  <!-- Fav Icon -->
  <link rel="icon" type="image/x-icon" href="assets/imgs/logo/favicon.png">

  <!-- Vendor CSS Files -->
  <link rel="stylesheet" href="assets/vendor/bootstrap.min.css">
  <link rel="stylesheet" href="assets/vendor/fontawesome.min.css">
  <link rel="stylesheet" href="assets/vendor/swiper-bundle.min.css">
  <link rel="stylesheet" href="assets/vendor/meanmenu.min.css">
  <link rel="stylesheet" href="assets/vendor/magnific-popup.css">
  <link rel="stylesheet" href="assets/vendor/animate.min.css">

  <!-- Template Main CSS File -->
  <link rel="stylesheet" href="assets/css/style.css">

</head>

<body class="body-wrapper body-creative-agency font-heading-sequelsans-romanbody">

  <!-- Preloader -->
  <div id="preloader">
    <div id="container" class="container-preloader">
      <div class="animation-preloader">
        <div class="spinner"></div>

      </div>
      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
    </div>
  </div>

  <!-- Sroll to top -->
  <div class="progress-wrap">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
      <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"></path>
    </svg>
  </div>

  <!-- side toggle start -->
  <aside class="fix">
    <div class="side-info">
      <div class="side-info-content">
        <div class="offset-widget offset-header">
          <div class="offset-logo">
            <a href="index.html">
              <img src="assets/imgs/logo/logo-2.png" alt="site logo">
            </a>
          </div>
          <button id="side-info-close" class="side-info-close">
            <i class="fas fa-times"></i>
          </button>
        </div>
        <div class="mobile-menu d-xl-none fix"></div>
        <div class="offset-button">
          <a href="contact.html" class="rr-btn">
            <span class="btn-wrap">
              <span class="text-one">Let's Talk</span>
              <span class="text-two">Let's Talk</span>
            </span>
          </a>
        </div>
        <div class="offset-widget-box">
          <h2 class="title">Contact US</h2>
          <div class="contact-meta">
            <div class="contact-item">
              <span class="icon"><i class="fa-solid fa-location-dot"></i></span>
              <span class="text">3891 Ranchview Dr. Richardson</span>
            </div>
            <div class="contact-item">
              <span class="icon"><i class="fa-solid fa-envelope"></i></span>
              <span class="text"><a href="mailto:hello@redoxagency.com">hello@redoxagency.com</a></span>
            </div>
            <div class="contact-item">
              <span class="icon"><i class="fa-solid fa-phone"></i></span>
              <span class="text"><a href="tel:(505)555-0125">(505) 555-0125</a></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </aside>
  <div class="offcanvas-overlay"></div>
  <!-- side toggle end -->

  <!-- Header area start -->
  <header class="header-area-2">
    <div class="header-main">
      <div class="container large">
        <div class="header-area-2__inner">
          <div class="header__logo">
            <a href="index.html">
              <img src="assets/imgs/logo/logo-2.png" class="normal-logo" alt="Site Logo">
            </a>
          </div>
          <div class="header__nav pos-center">
            <nav class="main-menu">
              <ul>
                <li class="menu-item-has-children">
                  <a href="#">Home</a>
                  <ul class="dp-menu col-2">
                    <li><a href="digital-agency.html">Digital Agency</a></li>
                    <li><a href="creative-agency.html">Creative Agency</a></li>
                    <li><a href="marketing-agency.html">Marketing Agency</a></li>
                    <li><a href="design-agency.html">Design Agency</a></li>
                    <li><a href="startup-agency.html">Startup Agency</a></li>
                    <li><a href="modern-agency.html">Modern Agency</a></li>
                    <li><a href="agency-portfolio.html">Agency Portfolio</a></li>
                    <li><a href="portfolio-horizontal.html">Portfolio Horizontal</a></li>
                    <li><a href="portfolio-line-effect.html">Portfolio Line Effect</a></li>
                    <li><a href="portfolio-box-effect.html">Portfolio Box Effect</a></li>
                    <li><a href="portfolio-vertical.html">Portfolio Vertical</a></li>
                    <li><a href="portfolio-slicer.html">Portfolio Slicer</a></li>
                    <li><a href="parallax-carousal.html">Parallax Carousal</a></li>
                    <li><a href="portfolio-showcase.html">Portfolio Showcase</a></li>
                  </ul>
                </li>
                <li><a href="about.html">About Us</a></li>
                <li class="menu-item-has-children">
                  <a href="#">Service</a>
                  <ul class="dp-menu">
                    <li><a href="services.html">Core Services</a></li>
                    <li><a href="services-2.html">Services ST. Pulse</a></li>
                    <li><a href="services-3.html">Services ST. Morph</a></li>
                    <li><a href="services-4.html">Services ST. Nova</a></li>
                    <li><a href="services-5.html">Services ST. Zenith</a></li>
                    <li><a href="services-6.html">Services ST. Prism</a></li>
                    <li><a href="service-details.html">Service Details</a></li>
                  </ul>
                </li>
                <li class="menu-item-has-children">
                  <a href="#">Blog</a>
                  <ul class="dp-menu">
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="blog-details.html">Blog Details</a></li>
                  </ul>
                </li>
                <li class="menu-item-has-children">
                  <a href="#">Pages</a>
                  <ul class="dp-menu">
                    <li><a href="portfolio.html">Core Portfolio</a></li>
                    <li><a href="portfolio-2.html">Portfolio ST. Classic</a></li>
                    <li><a href="portfolio-3.html">Portfolio ST. Minimal</a></li>
                    <li><a href="portfolio-4.html">Portfolio ST. Modern</a></li>
                    <li><a href="portfolio-5.html">Portfolio ST. Interactive</a></li>
                    <li><a href="portfolio-6.html">Portfolio ST. Metro</a></li>
                    <li><a href="portfolio-details.html">Portfolio Details</a></li>
                    <li><a href="team.html">Team</a></li>
                    <li><a href="team-details.html">Team Details</a></li>
                    <li><a href="faq.html">FAQ Page</a></li>
                    <li><a href="404.html">404 Page</a></li>
                  </ul>
                </li>
                <li><a href="contact.html">Contact</a></li>
              </ul>
            </nav>
          </div>
          <div class="header__button">
            <a href="contact.html" class="rr-btn">
              <span class="btn-wrap">
                <span class="text-one">Let’s Talk</span>
                <span class="text-two">Let’s Talk</span>
              </span>
            </a>
          </div>
          <div class="header__navicon">
            <button class="side-toggle"><img src="assets/imgs/icon/icon-2.webp" alt="image"></button>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- Header area end -->

  <div class="has-smooth" id="has_smooth"></div>
  <div id="smooth-wrapper">
    <div id="smooth-content">
      <div>

        <div class="body-bg">
          <div class="container large">
            <img src="assets/imgs/shape/shape-9.webp" alt="image">
            <img src="assets/imgs/shape/shape-9.webp" alt="image">
          </div>
        </div>

        <main>

          <!-- hero area start  -->
          <section class="hero-area-2">
            <div class="container large">
              <div class="hero-area-2-inner">
                <div class="section-header">
                  <div class="section-title-wrapper">
                    <div class="title-wrapper">
                      <h1 class="section-title font-sequelsans-romanbody char-anim" data-delay="0.45"
                        data-direction="left">Design <br>
                        Edge<img class="title-shape-1 fade-anim" data-delay="1.9" data-offset="100"
                          data-direction="left" src="assets/imgs/shape/shape-7.webp" alt="img"> <br>
                        <img class="title-video fade-anim" data-delay="1.9" data-offset="100" data-direction="right"
                          src="https://rrdevs.net/project-video/antoni.gif" alt="image">creative <br>
                        Agency
                      </h1>
                    </div>
                  </div>
                </div>
                <div class="section-content">
                  <div class="text-wrapper">
                    <p class="text info-text fade-anim" data-delay="2.15" data-offset="100" data-direction="right">An
                      <span>award
                        winning</span> creative
                      agency, working based in
                      Germany
                    </p>
                    <p class="text about-text rr_title_anim">Redox is the first and only creative agency for your real
                      exploration. It’s one private place to save everything you can realize about digital beautifully
                      design.</p>
                  </div>
                  <div class="hero-thumb fade-anim parallax-view">
                    <img src="assets/imgs/gallery/image-9.webp" alt="image" data-speed="0.6">
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- hero area end  -->

          <!-- about area start  -->
          <section class="about-area-2">
            <div class="container large">
              <div class="about-area-2-inner section-spacing-top">
                <div class="section-header">
                  <div class="section-title-wrapper">
                    <div class="title-wrapper">
                      <h2 class="section-title font-sequelsans-romanbody rr_title_anim">Creating virtual emotion
                        in the universe, for the
                        largest brands & market
                        since</h2>
                    </div>
                  </div>
                </div>
                <div class="section-content section-spacing-top">
                  <div class="year-wrapper">
                    <h2 class="year-since"><span class="is-fading"><span class="first-text">2017</span> - 2025</span>
                      <span class="last-text">Work</span>
                    </h2>
                  </div>
                  <div class="text-wrapper">
                    <p class="text">We help brands and people be part of the solution. As a cause-led branding and
                      communications agency, we harness the power of technology and creativity to drive positive
                      changes. Whether your inquiries are big or small, we're prepared to engage, focusing on complex
                      problems</p>
                  </div>
                  <div class="btn-wrapper">
                    <a href="about.html" class="rr-btn">
                      <span class="btn-wrap">
                        <span class="text-one">Learn More</span>
                        <span class="text-two">Learn More</span>
                      </span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- about area end  -->

          <!-- work area start  -->
          <section class="work-area-2">
            <div class="container large">
              <div class="work-area-2-inner section-spacing-top">
                <div class="works-wrapper-box">
                  <div class="works-wrapper-head">
                    <div class="text-wrapper">
                      <p class="text">Selected <span class="d-xxl-none">Work</span></p>
                    </div>
                    <div class="total-count">
                      <p class="text"><a href="portfolio.html">browse more (20)</a></p>
                    </div>
                  </div>
                  <div class="works-wrapper-2">
                    <div class="work-box">
                      <div class="thumb" data-cursor-text="View Project">
                        <a href="portfolio-details.html"><img src="assets/imgs/project/image-7.webp" alt="image"></a>
                      </div>
                      <div class="content">
                        <h3 class="title"><a href="portfolio-details.html">Kashtech Doyel</a></h3>
                        <div class="meta">
                          <span class="date">2025</span>
                          <span class="tag">Design</span>
                        </div>
                      </div>
                    </div>
                    <div class="work-box">
                      <div class="thumb" data-cursor-text="View Project">
                        <a href="portfolio-details.html"><img src="assets/imgs/project/image-8.webp" alt="image"></a>
                      </div>
                      <div class="content">
                        <h3 class="title"><a href="portfolio-details.html">Saudi Lime Green</a></h3>
                        <div class="meta">
                          <span class="date">2025</span>
                          <span class="tag">Design</span>
                        </div>
                      </div>
                    </div>
                    <div class="work-box">
                      <div class="thumb" data-cursor-text="View Project">
                        <a href="portfolio-details.html"><img src="assets/imgs/project/image-9.webp" alt="image"></a>
                      </div>
                      <div class="content">
                        <h3 class="title"><a href="portfolio-details.html">Panda Automap</a></h3>
                        <div class="meta">
                          <span class="date">2025</span>
                          <span class="tag">Design</span>
                        </div>
                      </div>
                    </div>
                    <div class="work-box">
                      <div class="thumb" data-cursor-text="View Project">
                        <a href="portfolio-details.html"><img src="assets/imgs/project/image-10.webp" alt="image"></a>
                      </div>
                      <div class="content">
                        <h3 class="title"><a href="portfolio-details.html">Saudi Venture Capital</a></h3>
                        <div class="meta">
                          <span class="date">2025</span>
                          <span class="tag">Design</span>
                        </div>
                      </div>
                    </div>
                    <div class="work-box">
                      <div class="thumb" data-cursor-text="View Project">
                        <a href="portfolio-details.html"><img src="assets/imgs/project/image-11.webp" alt="image"></a>
                      </div>
                      <div class="content">
                        <h3 class="title"><a href="portfolio-details.html">Rebrand Lawberry</a></h3>
                        <div class="meta">
                          <span class="date">2025</span>
                          <span class="tag">Design</span>
                        </div>
                      </div>
                    </div>
                    <div class="work-box">
                      <div class="thumb" data-cursor-text="View Project">
                        <a href="portfolio-details.html"><img src="assets/imgs/project/image-12.webp" alt="image"></a>
                      </div>
                      <div class="content">
                        <h3 class="title"><a href="portfolio-details.html">Selicon Cloud Cave</a></h3>
                        <div class="meta">
                          <span class="date">2025</span>
                          <span class="tag">Design</span>
                        </div>
                      </div>
                    </div>
                    <div class="work-box">
                      <div class="thumb" data-cursor-text="View Project">
                        <a href="portfolio-details.html"><img src="assets/imgs/project/image-13.webp" alt="image"></a>
                      </div>
                      <div class="content">
                        <h3 class="title"><a href="portfolio-details.html">Mountain Upwork</a></h3>
                        <div class="meta">
                          <span class="date">2025</span>
                          <span class="tag">Design</span>
                        </div>
                      </div>
                    </div>
                    <div class="work-box">
                      <div class="thumb" data-cursor-text="View Project">
                        <a href="portfolio-details.html"><img src="assets/imgs/project/image-14.webp" alt="image"></a>
                      </div>
                      <div class="content">
                        <h3 class="title"><a href="portfolio-details.html">Blacky Motorola</a></h3>
                        <div class="meta">
                          <span class="date">2025</span>
                          <span class="tag">Design</span>
                        </div>
                      </div>
                    </div>
                    <div class="work-box">
                      <div class="thumb" data-cursor-text="View Project">
                        <a href="portfolio-details.html"><img src="assets/imgs/project/image-15.webp" alt="image"></a>
                      </div>
                      <div class="content">
                        <h3 class="title"><a href="portfolio-details.html">Panda Automap</a></h3>
                        <div class="meta">
                          <span class="date">2025</span>
                          <span class="tag">Design</span>
                        </div>
                      </div>
                    </div>
                    <div class="work-box">
                      <div class="thumb" data-cursor-text="View Project">
                        <a href="portfolio-details.html"><img src="assets/imgs/project/image-16.webp" alt="image"></a>
                      </div>
                      <div class="content">
                        <h3 class="title"><a href="portfolio-details.html">Saudi Venture Capital</a></h3>
                        <div class="meta">
                          <span class="date">2025</span>
                          <span class="tag">Design</span>
                        </div>
                      </div>
                    </div>
                    <div class="work-box">
                      <div class="thumb" data-cursor-text="View Project">
                        <a href="portfolio-details.html"><img src="assets/imgs/project/image-17.webp" alt="image"></a>
                      </div>
                      <div class="content">
                        <h3 class="title"><a href="portfolio-details.html">Rebrand Lawberry</a></h3>
                        <div class="meta">
                          <span class="date">2025</span>
                          <span class="tag">Design</span>
                        </div>
                      </div>
                    </div>
                    <div class="work-box">
                      <div class="thumb" data-cursor-text="View Project">
                        <a href="portfolio-details.html"><img src="assets/imgs/project/image-18.webp" alt="image"></a>
                      </div>
                      <div class="content">
                        <h3 class="title"><a href="portfolio-details.html">Selicon Cloud Cave</a></h3>
                        <div class="meta">
                          <span class="date">2025</span>
                          <span class="tag">Design</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- work area end  -->

          <!-- actually-area area start  -->
          <section class="actually-area">
            <div class="actually-area-inner section-spacing">
              <div class="container">
                <div class="bg-area"></div>
                <h2 class="section-title font-sequelsans-romanbody t_line">
                  What services <br>
                  we provide you <br>
                  actually</h2>
              </div>
            </div>
          </section>
          <!-- actually-area area end  -->

          <!-- service area start  -->
          <section class="service-area-2">
            <div class="service-area-2-inner">
              <div class="services-wrapper-box section-spacing-bottom">
                <div class="container large">
                  <div class="services-wrapper-2">
                    <a class="fade-anim" href="service-details.html">
                      <div class="service-box-wrapper">
                        <div class="service-box">
                          <div class="number">
                            001
                          </div>
                          <h3 class="title">Art <br>
                            Direction</h3>
                          <p class="text">Our aim is to nurture brands and help them grow. And just like human brands
                            need
                            to
                            grow.</p>
                        </div>
                      </div>
                    </a>
                    <a class="fade-anim" href="service-details.html">
                      <div class="service-box-wrapper">
                        <div class="service-box">
                          <div class="number">
                            002
                          </div>
                          <h3 class="title">Interaction <br>
                            Design</h3>
                          <p class="text">Whether your inquiries are big or small, we're prepared to engage, focusing on
                            complex problems</p>
                        </div>
                      </div>
                    </a>
                    <a class="fade-anim" href="service-details.html">
                      <div class="service-box-wrapper">
                        <div class="service-box">
                          <div class="number">
                            003
                          </div>
                          <h3 class="title">Web & Mobile <br>
                            Development</h3>
                          <p class="text">Every opportunity comes with unique factors are the main stream we can offer
                            your brand.</p>
                        </div>
                      </div>
                    </a>
                    <a class="fade-anim" href="service-details.html">
                      <div class="service-box-wrapper">
                        <div class="service-box">
                          <div class="number">
                            004
                          </div>
                          <h3 class="title">Digital <br>
                            Marketing</h3>
                          <p class="text">We offer digital marketing that connect, engage, and drive results. Let’s turn
                            your vision into reality.</p>
                        </div>
                      </div>
                    </a>
                    <a class="fade-anim" href="service-details.html">
                      <div class="service-box-wrapper">
                        <div class="service-box">
                          <div class="number">
                            005
                          </div>
                          <h3 class="title">Brand <br>
                            Guideline</h3>
                          <p class="text">We always eager to collaborate with forward-thinking individuals and the
                            organizations</p>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="service-content-wrapper section-spacing-top">
              <div class="container large">
                <div class="service-content">
                  <div class="section-info-wrapper fade-anim" data-direction="left">
                    <div class="thumb parallax-view">
                      <img src="assets/imgs/gallery/image-10.webp" alt="image" data-speed="0.7">
                    </div>
                    <div class="text-wrapper">
                      <p class="text text-invert">A practical guide explaining how and why Redox should be part of every
                        project to
                        ensure its high quality and seamless user experience.</p>
                      <p class="text text-invert">If you already understand ask to continue
                        scrolling; otherwise, click the link below to explore more.</p>
                    </div>
                    <div class="btn-wrapper">
                      <a href="portfolio.html" class="rr-btn btn-border-white">
                        <span class="btn-wrap">
                          <span class="text-one">View All Work</span>
                          <span class="text-two">View All Work</span>
                        </span>
                      </a>
                    </div>
                  </div>
                  <div class="section-thumb-wrapper fade-anim" data-delay="0.45" data-direction="right">
                    <div class="thumb parallax-view">
                      <img src="assets/imgs/gallery/image-11.webp" alt="image" data-speed="0.6">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- service area end  -->

          <!-- testimonial area start  -->
          <section class="testimonial-area moving-testimonial">
            <div class="container large">
              <div class="testimonial-area-inner section-spacing-top">
                <div class="section-header">
                  <div class="section-title-wrapper">
                    <div class="title-wrapper">
                      <h2 class="section-title font-sequelsans-romanbody rr_title_anim">Our happy clients always
                        say,
                        how they are satisfied with
                        our service.
                      </h2>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="testimonial-wrapper-box section-spacing-bottom">
              <div class="pin">
                <div class="container full-hd">
                  <div class="testimonial-wrapper">
                    <div class="testimonial-item t-card">
                      <div class="content">

                        <div class="text-wrapper">
                          <p class="text">“They took the time to understand my brand and target audience, and
                            developed a marketing strategy that perfectly captured our essence. Their creative
                            campaigns led to a significant increase in sales, and their expertise helped us secure a
                            valuable partnership with another company</p>
                        </div>
                        <div class="author">
                          <div class="meta">
                            <h3 class="name">Michael Mahanay</h3>
                            <span class="post">CMO, Supra</span>
                          </div>
                          <div class="icon">
                            <img class="quote-icon" src="assets/imgs/icon/icon-3.webp" alt="Quote Icon">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="testimonial-item t-card light">
                      <div class="content">

                        <div class="text-wrapper">
                          <p class="text">Their mission is to empower the brands we believe in with tailor-made
                            approaches
                            that ignite creativity and growth without limits. We discovered more funny quality work.</p>
                        </div>
                        <div class="author">
                          <div class="meta">
                            <h3 class="name">James David</h3>
                            <span class="post">Lead Developer, Dexra</span>
                          </div>
                          <div class="icon">
                            <img class="quote-icon" src="assets/imgs/icon/icon-3-light.webp" alt="Quote Icon">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="testimonial-item t-card">
                      <div class="content">

                        <div class="text-wrapper">
                          <p class="text">Redox always eager to collaborate with forward-thinking individuals and
                            organizations, using the power of design and technology to tackle today’s challenges and
                            shape
                            a better future from sleek websites to memorable branding, I offer creative solutions that
                            connect, engage, and drive results</p>
                        </div>
                        <div class="author">
                          <div class="meta">
                            <h3 class="name">Brenda C. Janet</h3>
                            <span class="post">Lead Designer, Fexzo</span>
                          </div>
                          <div class="icon">
                            <img class="quote-icon" src="assets/imgs/icon/icon-3.webp" alt="Quote Icon">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="testimonial-item t-card light">
                      <div class="content">

                        <div class="text-wrapper">
                          <p class="text">Design is a team effort, and I believe in a true partnership. By working
                            closely
                            with you, understanding your vision, and staying open to feedback. We can create something
                            that truly resonates.</p>
                        </div>
                        <div class="author">
                          <div class="meta">
                            <h3 class="name">Martin Carlos</h3>
                            <span class="post">CEO & Founder, Dulex</span>
                          </div>
                          <div class="icon">
                            <img class="quote-icon" src="assets/imgs/icon/icon-3-light.webp" alt="Quote Icon">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="testimonial-item t-card">
                      <div class="content">

                        <div class="text-wrapper">
                          <p class="text">“They took the time to understand my brand and target audience, and developed
                            a
                            marketing strategy that perfectly captured our essence. Their creative campaigns led to a
                            significant increase in sales, and their expertise helped us secure a valuable partnership
                            with another company</p>
                        </div>
                        <div class="author">
                          <div class="meta">
                            <h3 class="name">Garry J. Coburn</h3>
                            <span class="post">Project Manager, Camos</span>
                          </div>
                          <div class="icon">
                            <img class="quote-icon" src="assets/imgs/icon/icon-3.webp" alt="Quote Icon">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- testimonial area end  -->

          <!-- client area start  -->
          <div class="client-area-2">
            <div class="client-area-2-inner">
              <div class="container large">
                <div class="section-header">
                  <div class="text-wrapper rr_title_anim">
                    <p class="text">Help to brands growing up and show
                      their success stories to the world</p>
                  </div>
                </div>
              </div>
              <div class="clients-wrapper-box fade-anim">
                <div class="clients-wrapper">
                  <div class="swiper client-slider-active">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide">
                        <div class="client-box">
                          <img src="assets/imgs/client/client-1.webp" alt="image">
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="client-box">
                          <img src="assets/imgs/client/client-2.webp" alt="image">
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="client-box">
                          <img src="assets/imgs/client/client-3.webp" alt="image">
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="client-box">
                          <img src="assets/imgs/client/client-4.webp" alt="image">
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="client-box">
                          <img src="assets/imgs/client/client-5.webp" alt="image">
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="client-box">
                          <img src="assets/imgs/client/client-6.webp" alt="image">
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="client-box">
                          <img src="assets/imgs/client/client-7.webp" alt="image">
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="client-box">
                          <img src="assets/imgs/client/client-8.webp" alt="image">
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="client-box">
                          <img src="assets/imgs/client/client-1.webp" alt="image">
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="client-box">
                          <img src="assets/imgs/client/client-2.webp" alt="image">
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="client-box">
                          <img src="assets/imgs/client/client-3.webp" alt="image">
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="client-box">
                          <img src="assets/imgs/client/client-4.webp" alt="image">
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="client-box">
                          <img src="assets/imgs/client/client-5.webp" alt="image">
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="client-box">
                          <img src="assets/imgs/client/client-6.webp" alt="image">
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="client-box">
                          <img src="assets/imgs/client/client-7.webp" alt="image">
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="client-box">
                          <img src="assets/imgs/client/client-8.webp" alt="image">
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <!-- client area end  -->

          <!-- circular shape area start  -->
          <div class="mb--1">
            <div class="circular-shape-wrapper">
              <div class="shape-thumb">
                <img src="assets/imgs/shape/shape-8.svg" alt="image">
              </div>
            </div>
          </div>
          <!-- circular shape area end  -->

          <!-- award area start  -->
          <section class="award-area">
            <div class="container large">
              <div class="award-area-inner section-spacing-top">
                <div class="section-header">
                  <div class="section-title-wrapper">
                    <div class="title-wrapper">
                      <h2 class="section-title font-sequelsans-romanbody rr_title_anim">We believe in quality, not
                        quantity, that’s why we’re
                        great ever.</h2>
                    </div>
                  </div>
                </div>
                <div class="awards-wrapper-box">
                  <div class="awards-wrapper fade-anim" data-direction="right">
                    <div class="award-box">
                      <div class="category">Awwwards</div>
                      <ul class="award-list">
                        <li>7x Honorable Mention<span>2014</span></li>
                        <li>4x Site of the Day<span>2016</span></li>
                        <li>2x Developer Awards<span>2016</span></li>
                        <li>1x Site of the Year<span>2019</span></li>
                        <li>1x Design of the Year<span>2025</span></li>
                      </ul>
                    </div>
                    <div class="award-box">
                      <div class="category">CSS Design</div>
                      <ul class="award-list">
                        <li>2x Website of the Day<span>2014</span></li>
                        <li>1x Best Innovation<span>2016</span></li>
                        <li>5x UX Design<span>2016</span></li>
                        <li>6x Creative Design<span>2019</span></li>
                      </ul>
                    </div>
                    <div class="award-box">
                      <div class="category">Dribbble</div>
                      <ul class="award-list">
                        <li>2x Design of the Day<span>2014</span></li>
                        <li>2x Site of the Day<span>2016</span></li>
                      </ul>
                    </div>
                    <div class="award-box">
                      <div class="category">Behance</div>
                      <ul class="award-list">
                        <li>5x Featured Design<span>2025</span></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- award area end  -->

          <!-- team area start  -->
          <section class="team-area">
            <div class="container large">
              <div class="team-area-inner section-spacing">
                <div class="section-header fade-anim">
                  <div class="section-title-wrapper">
                    <div class="title-wrapper">
                      <h2 class="section-title font-sequelsans-romanbody rr_title_anim">Meet the talented
                        squad, behind the
                        creativity</h2>
                    </div>
                  </div>
                  <div class="text-wrapper">
                    <p class="text">We are a great skilled and talented team behind the creativity and your amazing
                      digital craft. </p>
                  </div>
                </div>
                <div class="team-wrapper-box">
                  <div class="team-wrapper fade-anim">
                    <div class="team-box">
                      <div class="thumb">
                        <a href="team-details.html"><img src="assets/imgs/team/team-1.webp" alt="image"></a>
                      </div>
                      <div class="content">
                        <h3 class="name"><a href="team-details.html">James David</a></h3>
                        <span class="post">CEO & Founder</span>
                      </div>
                    </div>
                    <div class="team-box">
                      <div class="thumb">
                        <a href="team-details.html"><img src="assets/imgs/team/team-2.webp" alt="image"></a>
                      </div>
                      <div class="content">
                        <h3 class="name"><a href="team-details.html">Brenda C. Janet</a></h3>
                        <span class="post">Lead Developer</span>
                      </div>
                    </div>
                    <div class="team-box">
                      <div class="thumb">
                        <a href="team-details.html"><img src="assets/imgs/team/team-3.webp" alt="image"></a>
                      </div>
                      <div class="content">
                        <h3 class="name"><a href="team-details.html">Martin Carlos</a></h3>
                        <span class="post">Lead Designer</span>
                      </div>
                    </div>
                    <div class="team-box">
                      <div class="thumb">
                        <a href="team-details.html"><img src="assets/imgs/team/team-4.webp" alt="image"></a>
                      </div>
                      <div class="content">
                        <h3 class="name"><a href="team-details.html">Garry J. Coburn</a></h3>
                        <span class="post">Project Manager</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- team area end  -->

          <!-- cta area start  -->
          <section class="cta-area-2">
            <div class="cta-area-2-inner">
              <div class="section-header">
                <div class="section-title-wrapper">
                  <div class="title-wrapper fade-anim">
                    <h2 class="section-title font-sequelsans-romanbody"><a href="contact.html">Let’s work together
                        <span class="line"></span>
                        Let’s work
                        together <span class="line"></span> Let’s work together <span class="line"></span> Let’s work
                        together <span class="line"></span> Let’s work together</a></h2>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- cta area end  -->

        </main>

        <!-- footer area start  -->
        <footer class="footer-area-2">
          <div class="container large">
            <div class="footer-widget-wrapper-box">
              <div class="footer-widget-wrapper">
                <div class="footer-widget-box newsletter">
                  <form action="#" class="subscribe-form">
                    <div class="input-field">
                      <input type="email" placeholder="Enter your email">
                      <button type="submit" class="subscribe-btn"><img src="assets/imgs/icon/icon-1.webp"
                          alt="image"></button>
                    </div>
                  </form>
                  <div class="subscription-text">
                    <div class="text-wrapper">
                      <p class="text">By subscribing you agree with our
                        <a href="contact.html">Privacy Policy</a>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="footer-widget-box">
                  <h2 class="title">Company</h2>
                  <ul class="footer-nav-list">
                    <li><a href="contact.html">agency</a></li>
                    <li><a href="contact.html">Solutions</a></li>
                    <li><a href="contact.html">Community</a></li>
                    <li><a href="contact.html">Work</a></li>
                    <li><a href="contact.html">Contact</a></li>
                  </ul>
                </div>
                <div class="footer-widget-box">
                  <h2 class="title">Social</h2>
                  <ul class="footer-nav-list">
                    <li><a href="contact.html">Facebook</a></li>
                    <li><a href="contact.html">Twitter</a></li>
                    <li><a href="contact.html">Dribbble</a></li>
                    <li><a href="contact.html">Instagram</a></li>
                    <li><a href="contact.html">Awwwards</a></li>
                    <li><a href="contact.html">YouTube</a></li>
                  </ul>
                </div>
                <div class="footer-widget-box">
                  <h2 class="title">Office</h2>
                  <ul class="footer-nav-list">
                    <li><a href="contact.html">New York</a></li>
                    <li><a href="contact.html">Toronto</a></li>
                    <li><a href="contact.html">Berlin</a></li>
                    <li><a href="contact.html">London</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="copyright-area">
            <div class="copyright-area-inner">
              <div class="copyright-text">
                <p class="text">© 2025 <a href="https://themeforest.net/user/ravextheme">RavexTheme.</a> All right
                  reserved</p>
              </div>
            </div>
          </div>
        </footer>
        <!-- footer area end  -->

      </div>
    </div>
  </div>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/jquery-3.7.1.min.js"></script>
  <script src="assets/vendor/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/jquery.magnific-popup.min.js"></script>
  <script src="assets/vendor/swiper-bundle.min.js"></script>
  <script src="assets/vendor/gsap.min.js"></script>
  <script src="assets/vendor/ScrollTrigger.min.js"></script>
  <script src="assets/vendor/ScrollSmoother.min.js"></script>
  <script src="assets/vendor/ScrollToPlugin.min.js"></script>
  <script src="assets/vendor/SplitText.min.js"></script>
  <script src="assets/vendor/TextPlugin.js"></script>
  <script src="assets/vendor/customEase.js"></script>
  <script src="assets/vendor/Flip.min.js"></script>
  <script src="assets/vendor/jquery.meanmenu.min.js"></script>
  <script src="assets/vendor/backToTop.js"></script>
  <script src="assets/vendor/matter.js"></script>
  <script src="assets/vendor/throwable.js"></script>
  <script src="assets/js/magiccursor.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>