<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Redox HTML Template">

  <title>Redox - Creative Agency and Portfolio HTML Template</title>

  <!-- Fav Icon -->
  <link rel="icon" type="image/x-icon" href="assets/imgs/logo/favicon.png">

  <!-- Vendor CSS Files -->
  <link rel="stylesheet" href="assets/vendor/bootstrap.min.css">
  <link rel="stylesheet" href="assets/vendor/fontawesome.min.css">
  <link rel="stylesheet" href="assets/vendor/swiper-bundle.min.css">
  <link rel="stylesheet" href="assets/vendor/meanmenu.min.css">
  <link rel="stylesheet" href="assets/vendor/magnific-popup.css">
  <link rel="stylesheet" href="assets/vendor/animate.min.css">

  <!-- Template Main CSS File -->
  <link rel="stylesheet" href="assets/css/style.css">

</head>


<body class="body-wrapper body-digital-agency font-heading-instrumentsans-medium">

  <!-- Preloader -->
  <div id="preloader">
    <div id="container" class="container-preloader">
      <div class="animation-preloader">
        <div class="spinner"></div>

      </div>
      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
    </div>
  </div>

  <!-- Sroll to top -->
  <div class="progress-wrap">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
      <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"></path>
    </svg>
  </div>

  <!-- cursorAnimation start -->
  <div class="cursor-wrapper relative">
    <div class="cursor"></div>
    <div class="cursor-follower"></div>
  </div>
  <!-- cursorAnimation end -->

  <!-- side toggle start -->
  <aside class="fix">
    <div class="side-info">
      <div class="side-info-content">
        <div class="offset-widget offset-header">
          <div class="offset-logo">
            <a href="index.html">
              <img src="assets/imgs/logo/logo.png" alt="site logo">
            </a>
          </div>
          <button id="side-info-close" class="side-info-close">
            <i class="fas fa-times"></i>
          </button>
        </div>
        <div class="mobile-menu d-xl-none fix"></div>
        <div class="offset-button">
          <a href="contact.html" class="rr-btn hover-bg-theme">
            <span class="btn-wrap">
              <span class="text-one">Let's Talk</span>
              <span class="text-two">Let's Talk</span>
            </span>
          </a>
        </div>
        <div class="offset-widget-box">
          <h2 class="title">Contact US</h2>
          <div class="contact-meta">
            <div class="contact-item">
              <span class="icon"><i class="fa-solid fa-location-dot"></i></span>
              <span class="text">3891 Ranchview Dr. Richardson</span>
            </div>
            <div class="contact-item">
              <span class="icon"><i class="fa-solid fa-envelope"></i></span>
              <span class="text"><a href="mailto:hello@redoxagency.com">hello@redoxagency.com</a></span>
            </div>
            <div class="contact-item">
              <span class="icon"><i class="fa-solid fa-phone"></i></span>
              <span class="text"><a href="tel:(505)555-0125">(505) 555-0125</a></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </aside>
  <div class="offcanvas-overlay"></div>
  <!-- side toggle end -->

  <!-- Header area start -->
  <header class="header-area">
    <div class="header-main">
      <div class="container large">
        <div class="header-area__inner">
          <div class="header__logo">
            <a href="index.html">
              <img src="assets/imgs/logo/logo.png" class="normal-logo" alt="Site Logo">
            </a>
          </div>
          <div class="header__nav">
            <nav class="main-menu">
              <ul>
                <li class="menu-item-has-children">
                  <a href="#">Home</a>
                  <ul class="dp-menu col-2">
                    <li><a href="digital-agency.html">Digital Agency</a></li>
                    <li><a href="creative-agency.html">Creative Agency</a></li>
                    <li><a href="marketing-agency.html">Marketing Agency</a></li>
                    <li><a href="design-agency.html">Design Agency</a></li>
                    <li><a href="startup-agency.html">Startup Agency</a></li>
                    <li><a href="modern-agency.html">Modern Agency</a></li>
                    <li><a href="agency-portfolio.html">Agency Portfolio</a></li>
                    <li><a href="portfolio-horizontal.html">Portfolio Horizontal</a></li>
                    <li><a href="portfolio-line-effect.html">Portfolio Line Effect</a></li>
                    <li><a href="portfolio-box-effect.html">Portfolio Box Effect</a></li>
                    <li><a href="portfolio-vertical.html">Portfolio Vertical</a></li>
                    <li><a href="portfolio-slicer.html">Portfolio Slicer</a></li>
                    <li><a href="parallax-carousal.html">Parallax Carousal</a></li>
                    <li><a href="portfolio-showcase.html">Portfolio Showcase</a></li>
                  </ul>
                </li>
                <li><a href="about.html">About Us</a></li>
                <li class="menu-item-has-children">
                  <a href="#">Service</a>
                  <ul class="dp-menu">
                    <li><a href="services.html">Core Services</a></li>
                    <li><a href="services-2.html">Services ST. Pulse</a></li>
                    <li><a href="services-3.html">Services ST. Morph</a></li>
                    <li><a href="services-4.html">Services ST. Nova</a></li>
                    <li><a href="services-5.html">Services ST. Zenith</a></li>
                    <li><a href="services-6.html">Services ST. Prism</a></li>
                    <li><a href="service-details.html">Service Details</a></li>
                  </ul>
                </li>
                <li class="menu-item-has-children">
                  <a href="#">Blog</a>
                  <ul class="dp-menu">
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="blog-details.html">Blog Details</a></li>
                  </ul>
                </li>
                <li class="menu-item-has-children">
                  <a href="#">Pages</a>
                  <ul class="dp-menu">
                    <li><a href="portfolio.html">Core Portfolio</a></li>
                    <li><a href="portfolio-2.html">Portfolio ST. Classic</a></li>
                    <li><a href="portfolio-3.html">Portfolio ST. Minimal</a></li>
                    <li><a href="portfolio-4.html">Portfolio ST. Modern</a></li>
                    <li><a href="portfolio-5.html">Portfolio ST. Interactive</a></li>
                    <li><a href="portfolio-6.html">Portfolio ST. Metro</a></li>
                    <li><a href="portfolio-details.html">Portfolio Details</a></li>
                    <li><a href="team.html">Team</a></li>
                    <li><a href="team-details.html">Team Details</a></li>
                    <li><a href="faq.html">FAQ Page</a></li>
                    <li><a href="404.html">404 Page</a></li>
                  </ul>
                </li>
                <li><a href="contact.html">Contact</a></li>
              </ul>
            </nav>
          </div>
          <div class="header__button">
            <a href="contact.html" class="rr-btn hover-bg-theme">
              <span class="btn-wrap">
                <span class="text-one">Let’s Talk</span>
                <span class="text-two">Let’s Talk</span>
              </span>
            </a>
          </div>
          <div class="header__navicon d-xl-none">
            <button class="side-toggle">
              <i class="fa-solid fa-bars"></i></button>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Header area end -->

  <div class="has-smooth" id="has_smooth"></div>
  <div id="smooth-wrapper">
    <div id="smooth-content">

      <main>

        <!-- hero area start  -->
        <section class="hero-area">
          <div class="container large">
            <div class="hero-area-inner section-spacing-top">
              <div class="hero-content section-spacing-bottom">
                <div class="award-wrapper fade-anim" data-delay="0.90" data-direction="left" data-ease="back.out(4)">
                  <div class="circle-text-wrapper">
                    <div class="circle-text">
                      <img src="assets/imgs/shape/shape-3.webp" alt="image" class="text">
                      <img src="assets/imgs/shape/shape-2.webp" alt="image" class="icon">
                    </div>
                  </div>
                </div>
                <div class="section-header">
                  <div class="section-title-wrapper">
                    <div class="title-wrapper">
                      <h2 class="section-title font-instrumentsans-medium char-anim" data-delay="0.45">Let’s sharpen
                        your brand
                        with<span><img class="title-shape-1 fade-anim" src="assets/imgs/shape/shape-1.webp" alt="image"
                            data-direction="right" data-delay="1.80"></span>quality
                        work</h2>
                    </div>
                  </div>
                </div>
                <div class="section-content">
                  <div class="features-wrapper-box fade-anim" data-delay="0.75">
                    <div class="features-wrapper">
                      <div class="feature-box">
                        <div class="content">
                          <span class="number">98%</span>
                          <p class="text">Average clients satisfied
                            and repeating</p>
                        </div>
                      </div>
                      <div class="feature-box">
                        <div class="content">
                          <span class="number">120+</span>
                          <p class="text">Successfully projects done
                            in 24 countries</p>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="text-wrapper fade-anim" data-delay="0.75">
                    <p class="text">We’re a digital products design & development agency that works passionately
                      with the digital experiences.</p>
                  </div>
                </div>
              </div>
              <div class="big-text-wrapper">
                <h2 class="big-text">Redox
                </h2>
              </div>

            </div>
          </div>
        </section>
        <!-- hero area end  -->

        <!-- about area start  -->
        <section class="about-area ">
          <div class="container large">
            <div class="about-area-inner section-spacing">
              <div class="section-content">
                <div class="shape-1"></div>
                <div class="shape-2"></div>
                <div class="shape-3"></div>
                <div class="shape-4"></div>
                <div class="section-title-wrapper">
                  <div class="title-wrapper">
                    <h2 class="section-title font-instrumentsans-medium">Redox</h2>
                  </div>
                </div>
                <div class="text-wrapper">
                  <p class="text">We’re a dynamic startup agency specializing in innovative solutions for businesses
                    looking to elevate their brand presence. We offer a range of services including digital marketing,
                    branding, web development, and creative strategy to help company</p>
                </div>
                <div class="btn-wrapper ">
                  <a href="contact.html" class="rr-btn  btn-text-fli hover-bg-theme">
                    <span class="btn-wrap">
                      <span class="text-one">Learn More</span>
                      <span class="text-two">Learn More</span>
                    </span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- about area end  -->

        <!-- video-box start -->
        <div class="video-box">
          <video class="video-area" loop="" muted="" autoplay="" playsinline="">
            <source src="https://rrdevs.net/project-video/group-meeting.mp4" type="video/mp4">
          </video>
        </div>
        <!-- video-box end -->

        <!-- work area start  -->
        <section class="work-area">

          <!-- text slider area start  -->
          <div class="text-slider-box fade-anim">
            <div class="text-slider">
              <div class="swiper text-slider-active">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="text-slider-item">
                      <h2 class="title"><span class="dot"></span>Featured work
                      </h2>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="text-slider-item">
                      <h2 class="title"><span class="dot"></span>Featured work
                      </h2>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="text-slider-item">
                      <h2 class="title"><span class="dot"></span>Featured work
                      </h2>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="text-slider-item">
                      <h2 class="title"><span class="dot"></span>Featured work
                      </h2>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="text-slider-item">
                      <h2 class="title"><span class="dot"></span>Featured work
                      </h2>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="text-slider-item">
                      <h2 class="title"><span class="dot"></span>Featured work
                      </h2>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="text-slider-item">
                      <h2 class="title"><span class="dot"></span>Featured work
                      </h2>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /text slider area end -->

          <div class="container large">
            <div class="work-area-inner">
              <div class="section-header fade-anim">
                <div class="section-title-wrapper">
                  <div class="title-wrapper">
                    <h2 class="section-title font-instrumentsans-medium">Featured Work</h2>
                  </div>
                </div>
                <div class="text-wrapper">
                  <p class="text">Excellency in creative designs</p>
                </div>
                <div class="total-count">
                  <span class="number">(26)</span>
                </div>
              </div>
              <div class="works-wrapper-box">
                <div class="works-wrapper-1 fade-anim">
                  <div class="work-box">
                    <div class="thumb">
                      <div class="image scale" data-cursor-text="View Project">
                        <a href="portfolio-details.html"><img src="assets/imgs/project/image-1.webp" alt="image"></a>
                      </div>
                    </div>
                    <div class="content">
                      <h3 class="title"><a href="portfolio-details.html">Panda Automap</a></h3>
                      <div class="meta">
                        <span class="tag">Development</span>
                        <span class="date">2025</span>
                      </div>

                    </div>
                  </div>
                  <div class="work-box">
                    <div class="thumb">
                      <div class="image scale" data-cursor-text="View Project">
                        <a href="portfolio-details.html"><img src="assets/imgs/project/image-2.webp" alt="image"></a>
                      </div>
                    </div>
                    <div class="content">
                      <h3 class="title"><a href="portfolio-details.html">Saudi Venture Capital</a></h3>
                      <div class="meta">
                        <span class="tag">Graphics</span>
                        <span class="date">2025</span>
                      </div>
                    </div>
                  </div>
                  <div class="work-box">
                    <div class="thumb">
                      <div class="image scale" data-cursor-text="View Project">
                        <a href="portfolio-details.html"><img src="assets/imgs/project/image-3.webp" alt="image"></a>
                      </div>
                    </div>
                    <div class="content">
                      <h3 class="title"><a href="portfolio-details.html">Rebrand Lawberry</a></h3>
                      <div class="meta">
                        <span class="tag">Motion, Design</span>
                        <span class="date">2025</span>
                      </div>
                    </div>
                  </div>
                  <div class="work-box">
                    <div class="thumb">
                      <div class="image scale" data-cursor-text="View Project">
                        <a href="portfolio-details.html"><img src="assets/imgs/project/image-4.webp" alt="image"></a>
                      </div>
                    </div>
                    <div class="content">
                      <h3 class="title"><a href="portfolio-details.html">Selicon Cloud Cave</a></h3>
                      <div class="meta">
                        <span class="tag">UI Design</span>
                        <span class="date">2025</span>
                      </div>
                    </div>
                  </div>
                  <div class="work-box">
                    <div class="thumb">
                      <div class="image scale" data-cursor-text="View Project">
                        <a href="portfolio-details.html"><img src="assets/imgs/project/image-5.webp" alt="image"></a>
                      </div>
                    </div>
                    <div class="content">
                      <h3 class="title"><a href="portfolio-details.html">Mountain Upwork</a></h3>
                      <div class="meta">
                        <span class="tag">Branding</span>
                        <span class="date">2025</span>
                      </div>
                    </div>
                  </div>
                  <div class="work-box">
                    <div class="thumb">
                      <div class="image scale" data-cursor-text="View Project">
                        <a href="portfolio-details.html"><img src="assets/imgs/project/image-6.webp" alt="image"></a>
                      </div>
                    </div>
                    <div class="content">
                      <h3 class="title"><a href="portfolio-details.html">Blacky Motorola</a></h3>
                      <div class="meta">
                        <span class="tag">UI Design</span>
                        <span class="date">2025</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="all-btn-wrapper fade-anim">
                <a href="portfolio.html" class="rr-btn btn-border hover-bg-theme">
                  <span class="btn-wrap">
                    <span class="text-one">View All Work</span>
                    <span class="text-two">View All Work</span>
                  </span>
                </a>
              </div>
            </div>
          </div>
        </section>
        <!-- work area end  -->

        <!-- service area start  -->
        <section class="service-area">
          <div class="container large">
            <div class="service-area-inner section-spacing">
              <div class="section-header">
                <div class="section-title-wrapper fade-anim">
                  <div class="title-wrapper">
                    <h2 class="section-title font-instrumentsans-medium word-anim">Complex <br>
                      proficiency</h2>
                  </div>
                </div>
              </div>
              <div class="services-wrapper-box">
                <div class="services-wrapper-1">
                  <div class="service-box fade-anim">
                    <div class="count">
                      <span class="number">(01)</span>
                    </div>

                    <div class="content">
                      <h3 class="title"><a href="service-details.html">Branding</a></h3>
                      <ul class="service-list">
                        <li><a href="service-details.html">Creative Direction</a></li>
                        <li><a href="service-details.html">Brand Identity</a></li>
                        <li><a href="service-details.html">Branding Strategy</a></li>
                        <li><a href="service-details.html">Graphic Design</a></li>
                        <li><a href="service-details.html">Startup</a></li>
                      </ul>
                    </div>
                    <div class="thumb">
                      <img class="grow" src="assets/imgs/gallery/image-3.webp" alt="image">
                    </div>
                  </div>
                  <div class="service-box fade-anim">
                    <div class="count">
                      <span class="number">(02)</span>
                    </div>

                    <div class="content">
                      <h3 class="title"><a href="service-details.html">UI-UX Design</a></h3>
                      <ul class="service-list">
                        <li><a href="service-details.html">UI UX Consulting</a></li>
                        <li><a href="service-details.html">UX Research</a></li>
                        <li><a href="service-details.html">Usability Testing</a></li>
                        <li><a href="service-details.html">Wireframing</a></li>
                        <li><a href="service-details.html">Prototyping</a></li>
                      </ul>
                    </div>
                    <div class="thumb">
                      <img class="grow" src="assets/imgs/gallery/image-4.webp" alt="image">
                    </div>
                  </div>
                  <div class="service-box fade-anim">
                    <div class="count">
                      <span class="number">(03)</span>
                    </div>

                    <div class="content">
                      <h3 class="title"><a href="service-details.html">Development</a></h3>
                      <ul class="service-list">
                        <li><a href="service-details.html">WordPress</a></li>
                        <li><a href="service-details.html">Webflow</a></li>
                        <li><a href="service-details.html">Laravel Framework</a></li>
                        <li><a href="service-details.html">React & Flutter</a></li>
                        <li><a href="service-details.html">Design System</a></li>
                      </ul>
                    </div>
                    <div class="thumb">
                      <img class="grow" src="assets/imgs/gallery/image-5.webp" alt="image">
                    </div>
                  </div>
                  <div class="service-box fade-anim">
                    <div class="count">
                      <span class="number">(04)</span>
                    </div>

                    <div class="content">
                      <h3 class="title"><a href="service-details.html">Digital Marketing</a></h3>
                      <ul class="service-list">
                        <li><a href="service-details.html">Online Marketing</a></li>
                        <li><a href="service-details.html">SEO-Marketing</a></li>
                        <li><a href="service-details.html">Strategy</a></li>
                        <li><a href="service-details.html">Market Research</a></li>
                        <li><a href="service-details.html">Social Reform</a></li>
                      </ul>
                    </div>
                    <div class="thumb">
                      <img class="grow" src="assets/imgs/gallery/image-6.webp" alt="image">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- service area end  -->

        <!-- funfact area start  -->
        <section class="funfact-area fade-anim">
          <div class="container large">
            <div class="funfact-area-inner pin-area">
              <div class="section-header section-spacing-top pin-element">
                <div class="section-title-wrapper">
                  <div class="title-wrapper">
                    <h2 class="section-title font-instrumentsans-medium word-anim">Perfect <br>
                      —activity</h2>
                  </div>
                </div>
              </div>
              <div class="funfact-wrapper-box section-spacing">
                <span class="line-1"></span>
                <span class="line-2"></span>
                <span class="line-3"></span>
                <span class="line-4"></span>
                <div class="funfact-wrapper">
                  <div class="funfact-item go-visible">
                    <span class="number">1.8M</span>
                    <p class="text">We helped to get companies with
                      $200M+ funding.</p>
                  </div>
                  <div class="funfact-item go-visible">
                    <span class="number">260+</span>
                    <p class="text">Crafted responsive, user-centered
                      website & app.</p>
                  </div>
                  <div class="funfact-item go-visible">
                    <span class="number">12+</span>
                    <p class="text">We have had quite a run in our 12+ years of working.</p>
                  </div>
                  <div class="funfact-item go-visible">
                    <span class="number">80+</span>
                    <p class="text">Professional skilled designers and developers.</p>
                  </div>
                  <div class="funfact-item go-visible">
                    <span class="number">99%</span>
                    <p class="text">Average 99% clients satisfaction
                      with expertise.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- funfact area end  -->

        <!-- client area start  -->
        <section class="client-area">
          <div class="container large">
            <div class="client-area-inner section-spacing-top">
              <div class="section-content">
                <div class="section-title-wrapper">
                  <div class="title-wrapper">
                    <h2 class="section-title font-instrumentsans-medium word-anim"><span>Client:</span> Helping brands
                      to grow
                      and say their success stories to
                      the world.</h2>
                  </div>
                </div>
                <div class="text-wrapper fade-anim">
                  <p class="text">We’re a great team of creatives with a strongest capabilities to helping progressive
                    fields achieve their goals. With the best talent on every project done successfully</p>
                </div>
              </div>
              <div class="client-capsule-wrapper-box" data-t-throwable-scene="true">
                <div class="client-capsule-wrapper">
                  <p data-t-throwable-el="">
                    <span class="client-box bg-theme">
                      <img src="assets/imgs/client/client-9-light.webp" alt="image">
                    </span>
                  </p>
                  <p data-t-throwable-el="">
                    <span class="client-box">
                      <img src="assets/imgs/client/client-10.webp" alt="image">
                    </span>
                  </p>
                  <p data-t-throwable-el="">
                    <span class="client-box">
                      <img src="assets/imgs/client/client-11.webp" alt="image">
                    </span>
                  </p>
                  <p data-t-throwable-el="">
                    <span class="client-box bg-theme">
                      <img src="assets/imgs/client/client-12-light.webp" alt="image">
                    </span>
                  </p>
                  <p data-t-throwable-el="">
                    <span class="client-box">
                      <img src="assets/imgs/client/client-13.webp" alt="image">
                    </span>
                  </p>
                  <p data-t-throwable-el="">
                    <span class="client-box">
                      <img src="assets/imgs/client/client-14.webp" alt="image">
                    </span>
                  </p>
                  <p data-t-throwable-el="">
                    <span class="client-box bg-theme">
                      <img src="assets/imgs/client/client-15-light.webp" alt="image">
                    </span>
                  </p>
                  <p data-t-throwable-el="">
                    <span class="client-box bg-theme">
                      <img src="assets/imgs/client/client-16-light.webp" alt="image">
                    </span>
                  </p>
                  <p data-t-throwable-el="">
                    <span class="client-box">
                      <img src="assets/imgs/client/client-17.webp" alt="image">
                    </span>
                  </p>
                  <p data-t-throwable-el="">
                    <span class="client-box bg-theme">
                      <img src="assets/imgs/client/client-18-light.webp" alt="image">
                    </span>
                  </p>
                  <p data-t-throwable-el="">
                    <span class="client-box">
                      <img src="assets/imgs/client/client-19.webp" alt="image">
                    </span>
                  </p>
                  <p data-t-throwable-el="">
                    <span class="client-box bg-theme">
                      <img src="assets/imgs/client/client-20-light.webp" alt="image">
                    </span>
                  </p>
                  <p data-t-throwable-el="">
                    <span class="client-box">
                      <img src="assets/imgs/client/client-21.webp" alt="image">
                    </span>
                  </p>
                  <p data-t-throwable-el="">
                    <span class="client-box">
                      <img src="assets/imgs/client/client-22.webp" alt="image">
                    </span>
                  </p>
                </div>
              </div>
              <div class="lines-wrapper">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
              </div>
            </div>
          </div>
        </section>
        <!-- client area end  -->

        <!-- cta area start  -->
        <div class="p-relative overflow-hidden">
          <section class="cta-area">
            <div class="cta-area-inner section-spacing">
              <div class="area-bg"></div>
              <div class="container large">
                <div class="section-content">
                  <div class="section-title-wrapper">
                    <div class="title-wrapper">
                      <h2 class="section-title font-instrumentsans-medium char-anim"><a href="contact.html">Let’s
                          Work</a></h2>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
        <!-- cta area end  -->

        <!-- productivity area start  -->
        <section class="productivity-area">
          <div class="container large">
            <div class="productivity-area-inner section-spacing">
              <div class="section-content">
                <div class="section-title-wrapper">
                  <div class="title-wrapper">
                    <h2 class="section-title font-instrumentsans-medium word-anim">It’s all about the <br>
                      unique <span class="shape-1">thinking</span> with
                      <span class="shape-2">creativity</span> and <span class="shape-3">quality</span> for
                      complex solution in <br>
                      easy way
                    </h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- productivity area end  -->

        <div class="image-wrapper parallax-view">
          <img class="w-100" src="assets/imgs/gallery/image-7.webp" alt="image" data-speed="0.1">
        </div>

      </main>

      <!-- footer area start  -->
      <footer class="footer-area">
        <div class="container large">
          <div class="footer-top-inner">
            <div class="footer-logo">
              <a href="index.html"><img src="assets/imgs/logo/logo-2.png" alt="site-logo"></a>
            </div>
            <div class="info-text">
              <div class="text-wrapper">
                <p class="text">Redox is a startup digital agency of design, development and marketing that works
                  friendly with global client</p>
              </div>
              <div class="info-link">
                <a href="mailto:info@redox.com">info@redox.com</a>
              </div>
            </div>
          </div>
          <div class="footer-widget-wrapper-box">
            <div class="footer-widget-wrapper">
              <div class="footer-widget-box newsletter">
                <form action="#" class="subscribe-form">
                  <div class="input-field">
                    <input type="email" placeholder="Enter your email">
                    <button type="submit" class="subscribe-btn"><img src="assets/imgs/icon/icon-1.webp"
                        alt="image"></button>
                  </div>
                </form>
                <div class="subscription-text">
                  <div class="text-wrapper">
                    <p class="text">By subscribing you agree with our
                      <a href="contact.html">Privacy Policy</a>
                    </p>
                  </div>
                </div>
              </div>
              <div class="footer-widget-box">
                <h2 class="title">Company</h2>
                <ul class="footer-nav-list">
                  <li><a href="contact.html">agency</a></li>
                  <li><a href="contact.html">Solutions</a></li>
                  <li><a href="contact.html">Community</a></li>
                  <li><a href="contact.html">Work</a></li>
                  <li><a href="contact.html">Contact</a></li>
                </ul>
              </div>
              <div class="footer-widget-box">
                <h2 class="title">Social</h2>
                <ul class="footer-nav-list">
                  <li><a href="contact.html">Facebook</a></li>
                  <li><a href="contact.html">Twitter</a></li>
                  <li><a href="contact.html">Dribbble</a></li>
                  <li><a href="contact.html">Instagram</a></li>
                  <li><a href="contact.html">Awwwards</a></li>
                  <li><a href="contact.html">YouTube</a></li>
                </ul>
              </div>
              <div class="footer-widget-box">
                <h2 class="title">Office</h2>
                <ul class="footer-nav-list">
                  <li><a href="contact.html">New York</a></li>
                  <li><a href="contact.html">Toronto</a></li>
                  <li><a href="contact.html">Berlin</a></li>
                  <li><a href="contact.html">London</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="copyright-area">
          <div class="copyright-area-inner">
            <div class="copyright-text">
              <p class="text">© 2025 <a href="https://themeforest.net/user/ravextheme">RavexTheme.</a> All right
                reserved</p>
            </div>
          </div>
        </div>
      </footer>
      <!-- footer area end  -->

    </div>
  </div>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/jquery-3.7.1.min.js"></script>
  <script src="assets/vendor/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/jquery.magnific-popup.min.js"></script>
  <script src="assets/vendor/swiper-bundle.min.js"></script>
  <script src="assets/vendor/gsap.min.js"></script>
  <script src="assets/vendor/ScrollTrigger.min.js"></script>
  <script src="assets/vendor/ScrollSmoother.min.js"></script>
  <script src="assets/vendor/ScrollToPlugin.min.js"></script>
  <script src="assets/vendor/SplitText.min.js"></script>
  <script src="assets/vendor/TextPlugin.js"></script>
  <script src="assets/vendor/customEase.js"></script>
  <script src="assets/vendor/Flip.min.js"></script>
  <script src="assets/vendor/jquery.meanmenu.min.js"></script>
  <script src="assets/vendor/backToTop.js"></script>
  <script src="assets/vendor/matter.js"></script>
  <script src="assets/vendor/throwable.js"></script>
  <script src="assets/js/magiccursor.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>