<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Redox HTML Template">

  <title>Redox - Creative Agency and Portfolio HTML Template</title>

  <!-- Fav Icon -->
  <link rel="icon" type="image/x-icon" href="assets/imgs/logo/favicon.png">

  <!-- Vendor CSS Files -->
  <link rel="stylesheet" href="assets/vendor/bootstrap.min.css">
  <link rel="stylesheet" href="assets/vendor/fontawesome.min.css">
  <link rel="stylesheet" href="assets/vendor/swiper-bundle.min.css">
  <link rel="stylesheet" href="assets/vendor/meanmenu.min.css">
  <link rel="stylesheet" href="assets/vendor/magnific-popup.css">
  <link rel="stylesheet" href="assets/vendor/animate.min.css">

  <!-- Template Main CSS File -->
  <link rel="stylesheet" href="assets/css/style.css">

</head>

<body class="body-wrapper body-modern-agency font-heading-tartuffotrial-thin">

  <!-- Preloader -->
  <div id="preloader">
    <div id="container" class="container-preloader">
      <div class="animation-preloader">
        <div class="spinner"></div>

      </div>
      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
    </div>
  </div>

  <!-- Sroll to top -->
  <div class="progress-wrap">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
      <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"></path>
    </svg>
  </div>

  <!-- side toggle start -->
  <aside class="fix">
    <div class="side-info">
      <div class="side-info-content">
        <div class="offset-widget offset-header">
          <div class="offset-logo">
            <a href="index.html">
              <img src="assets/imgs/logo/logo-2.png" alt="site logo">
            </a>
          </div>
          <button id="side-info-close" class="side-info-close">
            <i class="fas fa-times"></i>
          </button>
        </div>
        <div class="mobile-menu d-xl-none fix"></div>
        <div class="offset-button">
          <a href="contact.html" class="rr-btn">
            <span class="btn-wrap">
              <span class="text-one">Let's Talk</span>
              <span class="text-two">Let's Talk</span>
            </span>
          </a>
        </div>
        <div class="offset-widget-box">
          <h2 class="title">Contact US</h2>
          <div class="contact-meta">
            <div class="contact-item">
              <span class="icon"><i class="fa-solid fa-location-dot"></i></span>
              <span class="text">3891 Ranchview Dr. Richardson</span>
            </div>
            <div class="contact-item">
              <span class="icon"><i class="fa-solid fa-envelope"></i></span>
              <span class="text"><a href="mailto:hello@redoxagency.com">hello@redoxagency.com</a></span>
            </div>
            <div class="contact-item">
              <span class="icon"><i class="fa-solid fa-phone"></i></span>
              <span class="text"><a href="tel:(505)555-0125">(505) 555-0125</a></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </aside>
  <div class="offcanvas-overlay"></div>
  <!-- side toggle end -->

  <!-- Header area start -->
  <header class="header-area-8">
    <div class="header-main">
      <div class="container large">
        <div class="header-area-8__inner">
          <div class="header__logo">
            <a href="index.html">
              <img src="assets/imgs/logo/logo-2.png" class="normal-logo" alt="imageSite Logo">
            </a>
          </div>
          <div class="header__nav pos-center">
            <nav class="main-menu">
              <ul>
                <li class="menu-item-has-children">
                  <a href="#">Home</a>
                  <ul class="dp-menu col-2">
                    <li><a href="digital-agency.html">Digital Agency</a></li>
                    <li><a href="creative-agency.html">Creative Agency</a></li>
                    <li><a href="marketing-agency.html">Marketing Agency</a></li>
                    <li><a href="design-agency.html">Design Agency</a></li>
                    <li><a href="startup-agency.html">Startup Agency</a></li>
                    <li><a href="modern-agency.html">Modern Agency</a></li>
                    <li><a href="agency-portfolio.html">Agency Portfolio</a></li>
                    <li><a href="portfolio-horizontal.html">Portfolio Horizontal</a></li>
                    <li><a href="portfolio-line-effect.html">Portfolio Line Effect</a></li>
                    <li><a href="portfolio-box-effect.html">Portfolio Box Effect</a></li>
                    <li><a href="portfolio-vertical.html">Portfolio Vertical</a></li>
                    <li><a href="portfolio-slicer.html">Portfolio Slicer</a></li>
                    <li><a href="parallax-carousal.html">Parallax Carousal</a></li>
                    <li><a href="portfolio-showcase.html">Portfolio Showcase</a></li>
                  </ul>
                </li>
                <li><a href="about.html">About Us</a></li>
                <li class="menu-item-has-children">
                  <a href="#">Service</a>
                  <ul class="dp-menu">
                    <li><a href="services.html">Core Services</a></li>
                    <li><a href="services-2.html">Services ST. Pulse</a></li>
                    <li><a href="services-3.html">Services ST. Morph</a></li>
                    <li><a href="services-4.html">Services ST. Nova</a></li>
                    <li><a href="services-5.html">Services ST. Zenith</a></li>
                    <li><a href="services-6.html">Services ST. Prism</a></li>
                    <li><a href="service-details.html">Service Details</a></li>
                  </ul>
                </li>
                <li class="menu-item-has-children">
                  <a href="#">Blog</a>
                  <ul class="dp-menu">
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="blog-details.html">Blog Details</a></li>
                  </ul>
                </li>
                <li class="menu-item-has-children">
                  <a href="#">Pages</a>
                  <ul class="dp-menu">
                    <li><a href="portfolio.html">Core Portfolio</a></li>
                    <li><a href="portfolio-2.html">Portfolio ST. Classic</a></li>
                    <li><a href="portfolio-3.html">Portfolio ST. Minimal</a></li>
                    <li><a href="portfolio-4.html">Portfolio ST. Modern</a></li>
                    <li><a href="portfolio-5.html">Portfolio ST. Interactive</a></li>
                    <li><a href="portfolio-6.html">Portfolio ST. Metro</a></li>
                    <li><a href="portfolio-details.html">Portfolio Details</a></li>
                    <li><a href="team.html">Team</a></li>
                    <li><a href="team-details.html">Team Details</a></li>
                    <li><a href="faq.html">FAQ Page</a></li>
                    <li><a href="404.html">404 Page</a></li>
                  </ul>
                </li>
                <li><a href="contact.html">Contact</a></li>
              </ul>
            </nav>
          </div>
          <div class="header__navicon">
            <button class="side-toggle">
              <img src="assets/imgs/icon/icon-10.webp" alt="imageimage">
              Menu
            </button>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- Header area end -->

  <div class="has-smooth" id="has_smooth"></div>
  <div id="smooth-wrapper">
    <div id="smooth-content">

      <main>

        <!-- hero area start -->
        <div class="hero-area-7">
          <div class="hero-area-7-inner">
            <div class="section-content">
              <div class="section-title-wrapper">
                <div class="container large">
                  <div class="title-wrapper">
                    <h2 class="section-title font-tartuffotrial-thin char-anim">We’re Redox, a creative
                      design agency based in
                      <span>Germany</span>
                    </h2>
                  </div>
                </div>
              </div>
              <div class="container large">
                <div class="text-wrapper fade-anim" data-delay="0.90">
                  <p class="text">We are a duo of design obsessed who strive to push the boundaries of what is possible.
                  </p>
                </div>
                <div class="btn-wrapper fade-anim">
                  <a href="about.html" class="rr-btn">
                    <span class="btn-wrap">
                      <span class="text-one">Learn more us</span>
                      <span class="text-two">Learn more us</span>
                    </span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- hero area end -->

        <!-- work area start  -->
        <section class="work-area-7">
          <div class="work-area-7-inner">
            <div class="works-wrapper-box border-top-bottom">
              <div class="container large">
                <div class="works-wrapper-7">
                  <div class="work-box">
                    <div class="thumb fade-anim" data-cursor-text='<div class="content">
                      <h3 class="title"><a href="portfolio-details.html">Saudi Lime Green</a></h3>
                      <span class="meta">Marketing, 2010</span>
                    </div>' data-cursor-text-portfolio>
                      <div class="content">
                        <h3 class="title"><a href="portfolio-details.html">Saudi Lime Green</a></h3>
                        <span class="meta">Marketing, 2010</span>
                      </div>
                      <div class="image scale">
                        <a href="portfolio-details.html"><img src="assets/imgs/project/image-69.webp" alt="image"></a>
                      </div>
                    </div>
                  </div>
                  <div class="work-box">
                    <div class="thumb fade-anim" data-cursor-text='<div class="content">
                      <h3 class="title"><a href="portfolio-details.html">Panda Automap</a></h3>
                      <span class="meta">Branding, 2010</span>
                    </div>' data-cursor-text-portfolio>
                      <div class="content">
                        <h3 class="title"><a href="portfolio-details.html">Panda Automap</a></h3>
                        <span class="meta">Branding, 2010</span>
                      </div>
                      <div class="image scale">
                        <a href="portfolio-details.html"><img src="assets/imgs/project/image-70.webp" alt="image"></a>
                      </div>
                    </div>
                  </div>
                  <div class="work-box">
                    <div class="thumb fade-anim" data-cursor-text='<div class="content">
                      <h3 class="title"><a href="portfolio-details.html">Saudi Venture Capital</a></h3>
                      <span class="meta">Graphics, 2010</span>
                    </div>' data-cursor-text-portfolio>
                      <div class="content">
                        <h3 class="title"><a href="portfolio-details.html">Saudi Venture Capital</a></h3>
                        <span class="meta">Graphics, 2010</span>
                      </div>
                      <div class="image scale">
                        <a href="portfolio-details.html"><img src="assets/imgs/project/image-71.webp" alt="image"></a>
                      </div>
                    </div>
                  </div>
                  <div class="work-box">
                    <div class="thumb fade-anim" data-cursor-text='<div class="content">
                      <h3 class="title"><a href="portfolio-details.html">Rebrand Lawberry</a></h3>
                      <span class="meta">Motion, 2010</span>
                    </div>' data-cursor-text-portfolio>
                      <div class="content">
                        <h3 class="title"><a href="portfolio-details.html">Rebrand Lawberry</a></h3>
                        <span class="meta">Motion, 2010</span>
                      </div>
                      <div class="image scale">
                        <a href="portfolio-details.html"><img src="assets/imgs/project/image-72.webp" alt="image"></a>
                      </div>
                    </div>
                  </div>
                  <div class="work-box">
                    <div class="thumb fade-anim" data-cursor-text='<div class="content">
                      <h3 class="title"><a href="portfolio-details.html">Selicon Cloud Cave</a></h3>
                      <span class="meta">Design, 2010</span>
                    </div>' data-cursor-text-portfolio>
                      <div class="content">
                        <h3 class="title"><a href="portfolio-details.html">Selicon Cloud Cave</a></h3>
                        <span class="meta">Design, 2010</span>
                      </div>
                      <div class="image scale">
                        <a href="portfolio-details.html"><img src="assets/imgs/project/image-73.webp" alt="image"></a>
                      </div>
                    </div>
                  </div>
                  <div class="work-box">
                    <div class="thumb fade-anim" data-cursor-text='<div class="content">
                      <h3 class="title"><a href="portfolio-details.html">Mountain Upwork</a></h3>
                      <span class="meta">UI Design, 2010</span>
                    </div>' data-cursor-text-portfolio>
                      <div class="content">
                        <h3 class="title"><a href="portfolio-details.html">Mountain Upwork</a></h3>
                        <span class="meta">UI Design, 2010</span>
                      </div>
                      <div class="image scale">
                        <a href="portfolio-details.html"><img src="assets/imgs/project/image-74.webp" alt="image"></a>
                      </div>
                    </div>
                  </div>
                  <div class="work-box">
                    <div class="thumb fade-anim" data-cursor-text='<div class="content">
                      <h3 class="title"><a href="portfolio-details.html">Blacky Motorola</a></h3>
                      <span class="meta">Branding, 2010</span>
                    </div>' data-cursor-text-portfolio>
                      <div class="content">
                        <h3 class="title"><a href="portfolio-details.html">Blacky Motorola</a></h3>
                        <span class="meta">Branding, 2010</span>
                      </div>
                      <div class="image scale">
                        <a href="portfolio-details.html"><img src="assets/imgs/project/image-75.webp" alt="image"></a>
                      </div>
                    </div>
                  </div>
                  <div class="work-box">
                    <div class="thumb fade-anim" data-cursor-text='<div class="content">
                      <h3 class="title"><a href="portfolio-details.html">Lambax Nanak</a></h3>
                      <span class="meta">Graphics, 2010</span>
                    </div>' data-cursor-text-portfolio>
                      <div class="content">
                        <h3 class="title"><a href="portfolio-details.html">Lambax Nanak</a></h3>
                        <span class="meta">Graphics, 2010</span>
                      </div>
                      <div class="image scale">
                        <a href="portfolio-details.html"><img src="assets/imgs/project/image-76.webp" alt="image"></a>
                      </div>
                    </div>
                  </div>
                  <div class="work-box">
                    <div class="thumb fade-anim" data-cursor-text='<div class="content">
                      <h3 class="title"><a href="portfolio-details.html">Save Me Saudia</a></h3>
                      <span class="meta">Branding, 2010</span>
                    </div>' data-cursor-text-portfolio>
                      <div class="content">
                        <h3 class="title"><a href="portfolio-details.html">Save Me Saudia</a></h3>
                        <span class="meta">Branding, 2010</span>
                      </div>
                      <div class="image scale">
                        <a href="portfolio-details.html"><img src="assets/imgs/project/image-77.webp" alt="image"></a>
                      </div>
                    </div>
                  </div>
                  <div class="work-box">
                    <div class="btn-wrapper fade-anim">
                      <a href="portfolio.html"><span class="underline">Explore our all
                          outstanding works
                          (18)</span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- work area end  -->

        <!-- capabilities area start  -->
        <section class="capabilities-area-2">
          <div class="container large">
            <div class="capabilities-area-2-inner section-spacing">
              <div class="section-content-wrapper">
                <div class="section-content">
                  <div class="section-title-wrapper">
                    <div class="subtitle-wrapper fade-anim">
                      <span class="section-subtitle">Our capabilities</span>
                    </div>
                  </div>
                </div>
                <div class="capability-wrapper-box">
                  <div class="capability-wrapper capability-hover-active">
                    <div class="capability-box active fade-anim">
                      <a href="service-details.html">
                        <div class="capability-box-inner">
                          <div class="content">
                            <h3 class="title">Art Direction</h3>
                          </div>
                          <div class="thumb">
                            <img src="assets/imgs/gallery/image-39.webp" alt="image">
                            <img src="assets/imgs/gallery/image-40.webp" alt="image">
                            <img src="assets/imgs/gallery/image-41.webp" alt="image">
                          </div>
                        </div>
                      </a>
                    </div>
                    <div class="capability-box fade-anim">
                      <a href="service-details.html">
                        <div class="capability-box-inner">
                          <div class="content">
                            <h3 class="title">Interaction Design</h3>
                          </div>
                          <div class="thumb">
                            <img src="assets/imgs/gallery/image-40.webp" alt="image">
                            <img src="assets/imgs/gallery/image-41.webp" alt="image">
                          </div>
                        </div>
                      </a>
                    </div>
                    <div class="capability-box fade-anim">
                      <a href="service-details.html">
                        <div class="capability-box-inner">
                          <div class="content">
                            <h3 class="title">Development</h3>
                          </div>
                          <div class="thumb">
                            <img src="assets/imgs/gallery/image-39.webp" alt="image">
                            <img src="assets/imgs/gallery/image-40.webp" alt="image">
                            <img src="assets/imgs/gallery/image-41.webp" alt="image">
                          </div>
                        </div>
                      </a>
                    </div>
                    <div class="capability-box fade-anim">
                      <a href="service-details.html">
                        <div class="capability-box-inner">
                          <div class="content">
                            <h3 class="title">Marketing</h3>
                          </div>
                          <div class="thumb">
                            <img src="assets/imgs/gallery/image-39.webp" alt="image">
                            <img src="assets/imgs/gallery/image-41.webp" alt="image">
                          </div>
                        </div>
                      </a>
                    </div>
                    <div class="capability-box fade-anim">
                      <a href="service-details.html">
                        <div class="capability-box-inner">
                          <div class="content">
                            <h3 class="title">Brand Guideline</h3>
                          </div>
                          <div class="thumb">
                            <img src="assets/imgs/gallery/image-39.webp" alt="image">
                            <img src="assets/imgs/gallery/image-40.webp" alt="image">
                            <img src="assets/imgs/gallery/image-41.webp" alt="image">
                          </div>
                        </div>
                      </a>
                    </div>
                    <div class="capability-box fade-anim">
                      <a href="service-details.html">
                        <div class="capability-box-inner">
                          <div class="content">
                            <h3 class="title">Creative Writing</h3>
                          </div>
                          <div class="thumb">
                            <img src="assets/imgs/gallery/image-39.webp" alt="image">
                            <img src="assets/imgs/gallery/image-40.webp" alt="image">
                          </div>
                        </div>
                      </a>
                    </div>
                    <div class="capability-box fade-anim">
                      <a href="services.html">
                        <div class="capability-box-inner">
                          <div class="content">
                            <h3 class="title rr-btn-underline">Explore</h3>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- capabilities area end  -->

        <div class="image-wrapper parallax-view fade-anim">
          <img class="w-100" src="assets/imgs/gallery/image-52.webp" alt="image" data-speed="0.1">
        </div>

        <!-- award area start  -->
        <section class="award-area-3">
          <div class="container large">
            <div class="award-area-2-inner section-spacing">
              <div class="section-header">
                <div class="section-title-wrapper">
                  <div class="title-wrapper fade-anim" data-direction="left">
                    <h2 class="section-title font-tartuffotrial-thin">Making work that
                      wins <span>awards</span> is not our
                      destination. It is a starting
                      point</h2>
                  </div>
                </div>
              </div>
              <div class="award-wrapper-box">
                <div class="award-wrapper fade-anim" data-direction="right">
                  <div class="award-box">
                    <span class="category">Awwwards</span>
                    <p class="award">3x creative agency of the day</p>
                    <span class="year">2023</span>
                  </div>
                  <div class="award-box">
                    <span class="category">Envato</span>
                    <p class="award">1x agency of the year</p>
                    <span class="year">2010</span>
                  </div>
                  <div class="award-box">
                    <span class="category">CSS Winner</span>
                    <p class="award">5x honorable mentioned</p>
                    <span class="year">2012</span>
                  </div>
                  <div class="award-box">
                    <span class="category">Behance</span>
                    <p class="award">2x Featured design of the week</p>
                    <span class="year">2021</span>
                  </div>
                  <div class="award-box">
                    <span class="category">Dribbble</span>
                    <p class="award">8x Best design of the day</p>
                    <span class="year">2017</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- award area end  -->

        <!-- cta area start  -->
        <section class="cta-area-5">
          <div class="cta-area-5-inner">
            <div class="section-header">
              <div class="section-title-wrapper">
                <div class="title-wrapper fade-anim">
                  <h2 class="section-title font-tartuffotrial-thin"><a href="contact.html">Let’s work together <span
                        class="line"></span>
                      Let’s work
                      together <span class="line"></span> Let’s work together <span class="line"></span> Let’s work
                      together <span class="line"></span> Let’s work together</a></h2>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- cta area end  -->

      </main>

      <!-- footer area start  -->
      <footer class="footer-area-3">
        <div class="container large">
          <div class="footer-widget-wrapper-box">
            <div class="footer-widget-wrapper">
              <div class="footer-widget-box newsletter">
                <form action="#" class="subscribe-form">
                  <div class="input-field">
                    <input type="email" placeholder="Enter your email">
                    <button type="submit" class="subscribe-btn"><img src="assets/imgs/icon/icon-1.webp"
                        alt="image"></button>
                  </div>
                </form>
                <div class="subscription-text">
                  <div class="text-wrapper">
                    <p class="text">By subscribing you agree with our
                      <a href="contact.html">Privacy Policy</a>
                    </p>
                  </div>
                </div>
              </div>
              <div class="footer-widget-box">
                <h2 class="title">Company</h2>
                <ul class="footer-nav-list">
                  <li><a href="contact.html">agency</a></li>
                  <li><a href="contact.html">Solutions</a></li>
                  <li><a href="contact.html">Community</a></li>
                  <li><a href="contact.html">Work</a></li>
                  <li><a href="contact.html">Contact</a></li>
                </ul>
              </div>
              <div class="footer-widget-box">
                <h2 class="title">Social</h2>
                <ul class="footer-nav-list">
                  <li><a href="contact.html">Facebook</a></li>
                  <li><a href="contact.html">Twitter</a></li>
                  <li><a href="contact.html">Dribbble</a></li>
                  <li><a href="contact.html">Instagram</a></li>
                  <li><a href="contact.html">Awwwards</a></li>
                  <li><a href="contact.html">YouTube</a></li>
                </ul>
              </div>
              <div class="footer-widget-box">
                <h2 class="title">Office</h2>
                <ul class="footer-nav-list">
                  <li><a href="contact.html">New York</a></li>
                  <li><a href="contact.html">Toronto</a></li>
                  <li><a href="contact.html">Berlin</a></li>
                  <li><a href="contact.html">London</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="copyright-area">
          <div class="copyright-area-inner">
            <div class="copyright-text">
              <p class="text">© 2025 <a href="https://themeforest.net/user/ravextheme">RavexTheme.</a> All right
                reserved</p>
            </div>
          </div>
        </div>
      </footer>
      <!-- footer area end  -->

    </div>
  </div>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/jquery-3.7.1.min.js"></script>
  <script src="assets/vendor/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/jquery.magnific-popup.min.js"></script>
  <script src="assets/vendor/swiper-bundle.min.js"></script>
  <script src="assets/vendor/gsap.min.js"></script>
  <script src="assets/vendor/ScrollTrigger.min.js"></script>
  <script src="assets/vendor/ScrollSmoother.min.js"></script>
  <script src="assets/vendor/ScrollToPlugin.min.js"></script>
  <script src="assets/vendor/SplitText.min.js"></script>
  <script src="assets/vendor/TextPlugin.js"></script>
  <script src="assets/vendor/customEase.js"></script>
  <script src="assets/vendor/Flip.min.js"></script>
  <script src="assets/vendor/jquery.meanmenu.min.js"></script>
  <script src="assets/vendor/backToTop.js"></script>
  <script src="assets/vendor/matter.js"></script>
  <script src="assets/vendor/throwable.js"></script>
  <script src="assets/js/magiccursor.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>